<app-navbar-r></app-navbar-r>
<div class="wrapper">
        <div class="wrapper-container" style="background: #fff url(../../assets/images/bg.jpg) repeat top left;">
            <div class="container">
    <form action="/Recruitment/SendSMS/7203?m=2" method="post">                <div class="portlet">
                        <input name="__RequestVerificationToken" type="hidden" value="AKp-qSOTUf9twfwuEYl31KbHAF8LpTsYddvSD7-y-Iw0R7Bk-PHe7bIKsSZh7okL21w9PU9Uoqbwhb2CMu6TUTOVnf66k1k7xYDFEfdnBHc1">
                        <div class="validation-summary-valid text-danger" data-valmsg-summary="true"><ul><li style="display:none"></li>
    </ul></div>
                        <div class="portlet-header" style="margin-top:-10px !important;">
                            <h3 style="line-height:52px !important;">
                                Send SMS
                                <span class="portlet-tools pull-right">
                                    <button class="btn btn-primary btn-sm" (click)="closeSMS()">Close</button>
                                </span>
                            </h3>
                        </div>
    
                        <div class="portlet-content">
                            <div class="form-horizontal custom-form">
                                <div class="form-group">
                                    <label class="col-md-3">
                                        Select the job <span style="color:red;">*</span>
                                    </label><label class="col-sm-1">:</label>
                                    <div class="col-md-8">
                                        <input data-val="true" data-val-required="The JobNo field is required." id="JobNo" name="JobNo" type="hidden" value="">
                                        <select class="form-control" id="ddlJobNo" name="JobNo"><option value="">--Select type--</option>
    <option value="47">Active Directory</option>
    <option value="48">Network- Tech Support</option>
    <option value="49">Windows Platform support</option>
    <option value="50">Webapps</option>
    <option value="51">VSTS</option>
    <option value="52">Informatica</option>
    <option value="53">Datastage Developer</option>
    <option value="54">Java J2E spring</option>
    <option value="55">PHP Developer</option>
    <option value="56">.Net Developers</option>
    <option value="57">IT Recruiter</option>
    <option value="58">Big Data</option>
    <option value="59">Angular Developer</option>
    <option value="60">Java Developer</option>
    <option value="61">.Net Developer</option>
    <option value="62">.Net Developer</option>
    <option value="63">SAP ABAP</option>
    <option value="64">software tester</option>
    <option value="65">java developer</option>
    <option value="66">Digital marketing</option>
    <option value="67">software tester</option>
    <option value="68">C++ Developer</option>
    <option value="69">IOS Developer</option>
    <option value="70">Python Developers</option>
    <option value="71">content writer</option>
    <option value="72">SAP ABAP</option>
    <option value="73">SAP SD</option>
    <option value="88">Digital marketing</option>
    <option value="89">software tester</option>
    <option value="90">Ruby on Rails</option>
    <option value="91">software tester</option>
    <option value="92">Digital marketing</option>
    <option value="1089">software tester</option>
    <option value="1090">Software Developer</option>
    <option value="1091">DotNet Developer</option>
    <option value="1092">Python Developer</option>
    <option value="1093">Informatica Developer</option>
    <option value="1094">Android Developer</option>
    <option value="1095">IT Recruiter</option>
    <option value="1096">QA Automation</option>
    <option value="1097">Core Java with Multithreading</option>
    <option value="2092">Salesforce Developer</option>
    <option value="2093">Associate/Senior Associate</option>
    <option value="2094">US Recruiters</option>
    <option value="2095">Informatica Developer</option>
    <option value="2097">Android Developer</option>
    <option value="2098">.Net Developer</option>
    <option value="2099">Angular Developer</option>
    <option value="2100">Software Engineer</option>
    <option value="2101">Python Developer</option>
    <option value="2102">Python Developer</option>
    <option value="2103">Java Developer</option>
    <option value="2104">Process Analyst</option>
    <option value="2105">Process Associate</option>
    <option value="2106">SQL Developers</option>
    <option value="2107">SQL Developers</option>
    <option value="2108">Automation Engineer</option>
    <option value="2109">Business Analyst</option>
    <option value="2110">IT Recruiter</option>
    <option value="2111">Process Associate</option>
    <option value="2112">Python Developer</option>
    <option value="2113">Java Developer</option>
    <option value="2114">Process Analyst</option>
    <option value="2115">Salesforce Developer</option>
    <option value="2116">Informatica Developer</option>
    <option value="2117">Android Developer</option>
    <option value="2118">.Net Developer</option>
    <option value="2119">Angular Developer</option>
    <option value="2120">Software Engineer</option>
    <option value="2121">Software Engineer - .Net</option>
    <option value="2122">QA Analyst</option>
    <option value="2123">QA Analyst</option>
    <option value="2124">Software Engineer - Android</option>
    <option value="2125">Web3.0/Java Developer</option>
    <option value="2126">QA Automation Engineer</option>
    <option value="2127">Android Developer</option>
    <option value="2128">System Development Engineer</option>
    <option value="2129">Software Engineer</option>
    <option value="2130">SAP ABAP</option>
    <option value="2131">Java Developer</option>
    <option value="2132">.Net Developer</option>
    <option value="2133">SQL Developer</option>
    <option value="2134">iOS Developer</option>
    <option value="2135">UI Developer</option>
    <option value="2136">Java Developers</option>
    <option value="2137">PHP Developer</option>
    <option value="2138">Linux Administrators</option>
    <option value="2139">Java Developer</option>
    <option value="2140">Manual Tester</option>
    <option value="2141">Testing Engineer</option>
    <option value="2142">Android Developer</option>
    <option value="2143">Software Engineer</option>
    <option value="2144">Quality Assurance Engineer</option>
    <option value="2145">Backend Developer</option>
    <option value="2146">Front End Developer</option>
    <option value="2147">Test Engineer</option>
    <option value="2148">Software Developer</option>
    <option value="2149">UI Designers</option>
    <option value="2150">Java Developer</option>
    <option value="2151">ASP.Net Developer</option>
    <option value="2152">Hadoop Developer</option>
    <option value="2153">Java Developers</option>
    <option value="2154">.Net Developer (Only Male Candidates)</option>
    <option value="2155">SQL Developers</option>
    <option value="2156">IT Recruiter</option>
    <option value="2157">Automation Engineer</option>
    <option value="2158">PHP Developers</option>
    <option value="2159">Java Developer</option>
    <option value="2160">UI UX Designer/Developer</option>
    <option value="2161">.Net Developer</option>
    <option value="2162">UI Developer</option>
    <option value="2163">Hadoop Administrator</option>
    <option value="2164">UI Developers</option>
    <option value="2165">Angular Developer</option>
    <option value="2166">.Net Developer</option>
    <option value="2167">.Net Developer</option>
    <option value="2168">.Net Developer</option>
    <option value="2169">Procurement</option>
    <option value="2170">Business Analyst</option>
    <option value="2171">IT Recruiter</option>
    <option value="2172">Software Engineer for Java</option>
    <option value="2173">Wordpress Integrator</option>
    <option value="2174">Web Designer</option>
    <option value="2175">.Net Developer </option>
    <option value="2176">System Administrator</option>
    <option value="2177">.Net Developer</option>
    <option value="2178">Vindhya Infotech Pvt. Ltd.</option>
    <option value="2179">ASP.Net Developer</option>
    <option value="2180">.Net Developer</option>
    <option value="2181">Countent Writer</option>
    <option value="2182">Countent Writer</option>
    <option value="2183">content writer</option>
    <option value="2184">Content Writer</option>
    <option value="2185">.net developer</option>
    <option value="2186">Java Developer</option>
    <option value="2187"> Java Developer</option>
    <option value="2188"> Java Full Stack Developer</option>
    <option value="2189"> Java Full Stack Developer</option>
    <option value="2190"> Unix Production Support</option>
    <option value="2191">Web Designer</option>
    <option value="2192">SAP ABAP-HR Technical Consultant</option>
    <option value="2193">SAP ABAP FIORI Technical Consultant</option>
    <option value="2194">SAP BW ABAP Consultant </option>
    <option value="2195">Content writer</option>
    <option value="2196">.Net Developer</option>
    <option value="2197">.Net developer</option>
    <option value="2198">SAP BOBJ</option>
    <option value="2199">SAP HCM</option>
    <option value="2200">SAP FICO/Fund Management</option>
    <option value="2201">SAP FIORI UI5 ODATA</option>
    <option value="3197">SAP ABAP HANA WITH SQL SCRIPT</option>
    <option value="3198">Content writer</option>
    <option value="3199">ABAP ODATA </option>
    <option value="3200">Java Developer</option>
    <option value="3201"> Java Developer</option>
    <option value="3202">SAP Basis, Security</option>
    <option value="3203"> SAP ABAP-HR Technical Consultant</option>
    <option value="3204">Pega Developer</option>
    <option value="3205">DBA</option>
    <option value="3206">.NET Programmer</option>
    <option value="3207">Associate Software Engineer</option>
    <option value="3208">C# Developers </option>
    <option value="3209">.NET Programmer</option>
    <option value="3210">Software Test Engineer</option>
    <option value="3211">Software Developer</option>
    <option value="3212">.NET Developer</option>
    <option value="3213">Content Writer</option>
    <option value="3214">Java Developer  </option>
    <option value="3215">Java Full stack Developer </option>
    <option value="3216">Software Developer</option>
    <option value="3217">Java with selenium</option>
    <option value="3218">Hybris B2C Lead QA</option>
    <option value="3219">Hybris B2C Lead Developer</option>
    <option value="3220">Hybris B2B Lead QA</option>
    <option value="3221">Hybris B2B Developer</option>
    <option value="3222">Hybris B2B Lead Developer</option>
    <option value="3223">SAP HCM Consultant</option>
    <option value="3224"> Java with Core Java Developer</option>
    <option value="3225"> DOT NET Developer</option>
    <option value="3226">Customer care executive</option>
    <option value="3227">Inside Sales Executive </option>
    <option value="3228">Firmware Developer</option>
    <option value="3229">Java With Clojure</option>
    <option value="3230">SAP ABAP Consultant</option>
    <option value="3231"> Performance Engineers</option>
    <option value="3232">C++ with application developer</option>
    <option value="3233">Java Microservices with Messaging</option>
    <option value="3234">.Net With WCF WPF Developer</option>
    <option value="3235">SFDC Developer</option>
    <option value="3236">SAP MDG Technical</option>
    <option value="3237">JAVA Developer</option>
    <option value="3238">PHP Developer</option>
    <option value="3239">C# With Dot Developer</option>
    <option value="3240">C++ Developer</option>
    <option value="3241">Microsoft Dynamics CRM Admin</option>
    <option value="3242">DOT Net Developer</option>
    <option value="3243">Java Full Stack Developer</option>
    <option value="3244">Content Executive</option>
    <option value="3245">Asp.net Developer</option>
    <option value="3246">Mega Drive_TCS Multiple Position_Interview on 8th May @Kolkata &amp; Hyderabad_Call-8309249636</option>
    <option value="3247">Manual Testing</option>
    <option value="3248">Manual Testing</option>
    <option value="3249">Node JS</option>
    <option value="3250"> APPIAN Developer</option>
    <option value="3251"> ETL Developer</option>
    <option value="3252"> ETL Testing</option>
    <option value="3253"> Python Developer</option>
    <option value="3254"> Performance Testing</option>
    <option value="3255">C++ with VC++ Developer</option>
    <option value="3256"> Scrum Master</option>
    <option value="3257">Project Manager</option>
    <option value="3258"> Manial Testing</option>
    <option value="3259">C# With WPF Developer</option>
    <option value="3260">Selenium Testing</option>
    <option value="3261">C++ With Imaging Developer</option>
    <option value="3262"> C++ With Firmware developer</option>
    <option value="3263"> FPGA Developer</option>
    <option value="3264"> FPGA Developer</option>
    <option value="3265"> C With RTOS</option>
    <option value="3266"> C# With C++ Developer</option>
    <option value="3267">C++ With VC++ Developer</option>
    <option value="3268">SAP Testing With Automation</option>
    <option value="3269">ABinitio Developer</option>
    <option value="3270">Hiring 2018 / 2019 graduates for a Top MNC as IT IS Engineer</option>
    <option value="3271">Hiring 2018 / 2019 graduates as IT IS Engineer for a Top MNC</option>
    <option value="3272">Big Data Developer</option>
    <option value="3273">Asp.net Developer</option>
    <option value="3274">FULL STACK JAVA DEVELOPER</option>
    <option value="3275">Java Fullstack Developer</option>
    <option value="4273">Java Developer</option>
    <option value="4274">Performance Testing</option>
    <option value="4275">Performance Testing</option>
    <option value="4276">Java/J2EE Developer</option>
    <option value="4277">Customer Support Executive</option>
    <option value="4278">Full stack Java Developer</option>
    <option value="4279">Selenium Tester</option>
    <option value="4280">JobsMela</option>
    <option value="4281">UI developer</option>
    </select>
                                        <span class="field-validation-valid text-danger" data-valmsg-for="JobNo" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3">
                                        From <span style="color:red;">*</span>
                                    </label><label class="col-sm-1">:</label>
                                    <div class="col-md-8">
                                        <input class="form-control" data-val="true" data-val-required="The From field is required." id="txtFrom" name="From" type="text" value="">
                                        <span class="field-validation-valid text-danger" data-valmsg-for="From" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3">
                                        Subject / Job Title <span style="color:red;">*</span>
                                    </label><label class="col-sm-1">:</label>
                                    <div class="col-md-8">
                                        <input class="form-control" data-val="true" data-val-required="The Subject field is required." id="txtJobTitle" name="EmailSubject" type="text" value="">
                                        <span class="field-validation-valid text-danger" data-valmsg-for="EmailSubject" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3">
                                        Experience
                                    </label><label class="col-sm-1">:</label>
    
                                    <div class="col-sm-8" style="white-space: nowrap;">
                                        <div class="form-inline">
                                            <select class="form-control" data-val="true" data-val-number="The field ExpMin must be a number." data-val-required="The ExpMin field is required." id="minExp" name="ExpMin"><option value="">--Select type--</option>
    <option selected="selected" value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    </select>
    
                                            Year(s)&nbsp; and
                                            <select class="form-control" data-val="true" data-val-number="The field ExpMax must be a number." data-val-required="The ExpMax field is required." id="maxExp" name="ExpMax"><option value="">--Select type--</option>
    <option selected="selected" value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    </select>
    
                                            Month(s)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3">
                                        CTC
                                    </label><label class="col-sm-1">:</label>
    
                                    <div class="col-sm-8" style="white-space: nowrap;">
                                        <div class="form-inline">
                                            <select class="form-control" id="CCTCFrom" name="CTCMin"><option value="">--Select type--</option>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
    <option value="32">32</option>
    <option value="33">33</option>
    <option value="34">34</option>
    <option value="35">35</option>
    <option value="36">36</option>
    <option value="37">37</option>
    <option value="38">38</option>
    <option value="39">39</option>
    <option value="40">40</option>
    <option value="41">41</option>
    <option value="42">42</option>
    <option value="43">43</option>
    <option value="44">44</option>
    <option value="45">45</option>
    <option value="46">46</option>
    <option value="47">47</option>
    <option value="48">48</option>
    <option value="49">49</option>
    <option value="50">50</option>
    <option value="51">51</option>
    <option value="52">52</option>
    <option value="53">53</option>
    <option value="54">54</option>
    <option value="55">55</option>
    <option value="56">56</option>
    <option value="57">57</option>
    <option value="58">58</option>
    <option value="59">59</option>
    <option value="60">60</option>
    <option value="61">61</option>
    <option value="62">62</option>
    <option value="63">63</option>
    <option value="64">64</option>
    <option value="65">65</option>
    <option value="66">66</option>
    <option value="67">67</option>
    <option value="68">68</option>
    <option value="69">69</option>
    <option value="70">70</option>
    <option value="71">71</option>
    <option value="72">72</option>
    <option value="73">73</option>
    <option value="74">74</option>
    <option value="75">75</option>
    <option value="76">76</option>
    <option value="77">77</option>
    <option value="78">78</option>
    <option value="79">79</option>
    <option value="80">80</option>
    <option value="81">81</option>
    <option value="82">82</option>
    <option value="83">83</option>
    <option value="84">84</option>
    <option value="85">85</option>
    <option value="86">86</option>
    <option value="87">87</option>
    <option value="88">88</option>
    <option value="89">89</option>
    <option value="90">90</option>
    <option value="91">91</option>
    <option value="92">92</option>
    <option value="93">93</option>
    <option value="94">94</option>
    <option value="95">95</option>
    <option value="96">96</option>
    <option value="97">97</option>
    <option value="98">98</option>
    <option value="99">99</option>
    </select>
    
                                            Lakh(s)&nbsp; To
                                            <select class="form-control" id="CCTCTo" name="CTCMax"><option value="">--Select type--</option>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
    <option value="32">32</option>
    <option value="33">33</option>
    <option value="34">34</option>
    <option value="35">35</option>
    <option value="36">36</option>
    <option value="37">37</option>
    <option value="38">38</option>
    <option value="39">39</option>
    <option value="40">40</option>
    <option value="41">41</option>
    <option value="42">42</option>
    <option value="43">43</option>
    <option value="44">44</option>
    <option value="45">45</option>
    <option value="46">46</option>
    <option value="47">47</option>
    <option value="48">48</option>
    <option value="49">49</option>
    <option value="50">50</option>
    <option value="51">51</option>
    <option value="52">52</option>
    <option value="53">53</option>
    <option value="54">54</option>
    <option value="55">55</option>
    <option value="56">56</option>
    <option value="57">57</option>
    <option value="58">58</option>
    <option value="59">59</option>
    <option value="60">60</option>
    <option value="61">61</option>
    <option value="62">62</option>
    <option value="63">63</option>
    <option value="64">64</option>
    <option value="65">65</option>
    <option value="66">66</option>
    <option value="67">67</option>
    <option value="68">68</option>
    <option value="69">69</option>
    <option value="70">70</option>
    <option value="71">71</option>
    <option value="72">72</option>
    <option value="73">73</option>
    <option value="74">74</option>
    <option value="75">75</option>
    <option value="76">76</option>
    <option value="77">77</option>
    <option value="78">78</option>
    <option value="79">79</option>
    <option value="80">80</option>
    <option value="81">81</option>
    <option value="82">82</option>
    <option value="83">83</option>
    <option value="84">84</option>
    <option value="85">85</option>
    <option value="86">86</option>
    <option value="87">87</option>
    <option value="88">88</option>
    <option value="89">89</option>
    <option value="90">90</option>
    <option value="91">91</option>
    <option value="92">92</option>
    <option value="93">93</option>
    <option value="94">94</option>
    <option value="95">95</option>
    <option value="96">96</option>
    <option value="97">97</option>
    <option value="98">98</option>
    <option value="99">99</option>
    </select>
    
                                            Lakh(s)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3">
                                        Location <span style="color:red;">*</span>
                                    </label><label class="col-sm-1">:</label>
    
                                    <div class="col-sm-8">
                                        <input class="form-control" data-val="true" data-val-required="The Location field is required." id="txtLocation" name="Location" type="text" value="">
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Location" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3">
                                        Notice Period
                                    </label><label class="col-sm-1">:</label>
                                    <div class="col-sm-8">
                                        <input id="NoticePeriod" name="NoticePeriod" type="hidden" value="">
                                        <select class="form-control" id="Period" name="NoticePeriod"><option value="">--Select type--</option>
    <option value="0">0 Days</option>
    <option value="7">1 Week</option>
    <option value="15">15 Days</option>
    <option value="30">30 Days</option>
    </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3">
                                        Key Skills <span style="color:red;">*</span>
                                    </label><label class="col-sm-1">:</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" data-val="true" data-val-required="The KeySkills field is required." id="txtKeySkills" name="KeySkills" placeholder="Java, ASP.Net,Oracle,PHP, CPP etc..." type="text" value="">
                                        <span class="field-validation-valid text-danger" data-valmsg-for="KeySkills" data-valmsg-replace="true" placeholder="Java, ASP.Net,Oracle,PHP, CPP etc..."></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3">
                                        Job Description <span style="color:red;">*</span>
                                    </label><label class="col-sm-1">:</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" data-val="true" data-val-required="The JobDescription field is required." id="txtJobDescription" name="JobDescription" type="text" value="">
                                        <span class="field-validation-valid text-danger" data-valmsg-for="JobDescription" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3">
                                        End Client <span style="color:red;">*</span>
                                    </label><label class="col-sm-1">:</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" data-val="true" data-val-required="The EndClient field is required." id="txtEndClient" name="EndClient" type="text" value="">
                                        <span class="field-validation-valid text-danger" data-valmsg-for="EndClient" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3">
                                        Job Type <span style="color:red;">*</span>
                                    </label><label class="col-sm-1">:</label>
                                    <div class="col-sm-8">
                                        <input data-val="true" data-val-required="The JobType field is required." id="JobType" name="JobType" type="hidden" value="">
                                        <select class="form-control" id="jobType" name="JobType"><option value="">--Select type--</option>
    <option value="Permanent">Permanent</option>
    <option value="Contract">Contract</option>
    <option value="Any">Any</option>
    </select>
                                        <span class="field-validation-valid text-danger" data-valmsg-for="JobType" data-valmsg-replace="true"></span>
    
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3">
                                        To <span style="color:red;">*</span>
                                    </label><label class="col-sm-1">:</label>
                                    <div class="col-md-8">
                                        <input class="form-control" data-val="true" data-val-required="The To field is required." id="ToNumbers" name="ToNumbers" type="text" value="9999999999">
                                        <span class="field-validation-valid text-danger" data-valmsg-for="ToNumbers" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                
    
    
                                <div class="form-group">
                                    <label class="col-md-4">
                                    </label>
                                    <div class="col-md-8">
                                        <input type="submit" value="Submit" class="btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </form>        </div>
        </div>
    </div>
<app-footer></app-footer>
