<footer class="footer">
    <div class="container">
        <div class="row">

            <div id="footer_holder">
                <div id="footer" class="sub_holder">
                    <div id="copyright">
                        <p class="copyright">
                            <span id="social_logos">
                                <a href="https://www.facebook.com/DailyWalkinsJobCentre/" class="social_link" target="_blank" rel="noopener"><img src="https://page-assets.foxtons.co.uk/img/logos/fb_roundel.svg" data-src="https://page-assets.foxtons.co.uk/img/logos/fb_roundel.svg" width="35" height="35" alt="FB"></a>
                                <a href="https://plus.google.com/u/0/116660150717001683231" class="social_link" target="_blank" rel="noopener"><img src="../assets/images/gogle-image.png" width="33" height="33" alt=""></a>
                                <a href="https://www.linkedin.com/company/dailywalkins" class="social_link" target="_blank" rel="noopener"><img src="../assets/images/in-images.jpg" width="33" height="33" alt=""></a>
                                <a href="https://www.youtube.com/channel/UCe18R9IPNGz0Ea405xKZZng" class="social_link" target="_blank" rel="noopener"><img src="../assets/images/youtube-image.png" width="33" height="33" alt=""></a>
                            </span>
                            <br>

                            <a routerLink="/About">About us</a>

                            <a routerLink="/Contact">Contact us</a>
                            
                            <a routerLink="/FeedBack"> FeedBack</a>
                            <a routerLink="/PrivacyPolicy"> Privacy Policy</a>

                            <a routerLink="/TermsAndConditions">Terms And Conditions</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <br>
    <div style="background-color:gainsboro">
<div class="footer-bottom-strip">
    <div class="container">
        Copyright © 2018 <b>www.dailywalkins.com</b> all rights reserved.
    </div>
</div>
</div>
    
</footer>
