    <app-navbar-w></app-navbar-w>
    <div class="wrapper">
        <div class="wrapper-container" style="background: #fff url(../assets/images/bg.jpg) repeat top left;">

            <div class="container">
                <div class="col-md-12" style="padding-left:0px; padding-right:0px;">

                    <div class="col-md-3">

                        <div id="tab-container">
                            <ul class="admin-list-group" id="main-menu">
                                <li class="quick active bold"><a>Details</a></li>
                                <li class="liclass" style="color: White"><a routerLink="/recruitment/WalkinCentral/CreateDrive">Create Drive</a></li>
                                <li class="liclass" style="color: White"><a routerLink="/recruitment/walkincentral">Drive details</a></li>
                                <li class="liclass" style="color: White"><a routerLink="/recruitment/WalkinCentral/UploadProfiles">Upload Profile(s)</a></li>
                                <li class="liclass " style="color: White"><a routerLink="/recruitment/WalkinCentral/CandidateDetails">Candidate Details</a></li>
                                <li class="liclass" style="color: White"><a routerLink="/recruitment/WalkinCentral/CoOrdinatorsManagement">Co-Ordinators Management</a></li>
                                <li class="liclass" style="color: White"><a routerLink="/recruitment/WalkinCentral/panel">Panel Management</a></li>
                                <li class="liclass" style="color: White"><a routerLink="/recruitment/WalkinCentral/ShortlistedCandidates">Shortlisted Candidates</a></li>
                                <li class="liclass" style="color: White"><a routerLink="/recruitment/WalkinCentral/EvaluationForms">Evaluation Forms</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-9" style="padding-right:0px;">
                        <div class="wrapper">
                            <div class="wrapper-container"
                                style="background: #fff url(../../assets/images/bg.jpg) repeat top left;">
                                <div class="container">
                                    <h1 class="content-header-title page-title">Walkin Details</h1>
                                    <div class="portlet">
                                        <div class="portlet-header portlet-header-con" data-original-title="" title="">
                                            <h3 class="h3-align-portlet ">
                                                JobsMela
                                            </h3>
                                        </div>
                                        <div class="portlet-content form-bottom">
                                            <div class="form-horizontal wrapper-1 txt-wrapper">
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg"
                                                        for="Experience_">Experience </label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8 ">
                                                        <label class="text-form-color ">{{experience}}</label>&nbsp;years
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg"
                                                        for="Industry_Type_">Industry Type </label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8">
                                                        <label class="text-form-color" for="IT_Software___Hardware">{{obj.industry.industryType}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg" for="Role">Role
                                                    </label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8">
                                                        <label class="text-form-color" for="Analyst_Programer">
                                                            {{obj.role.roleName}}
                                                        </label>

                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg"
                                                        for="Number_of_Positions_">Number of Positions </label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8">
                                                        <label class="text-form-color" for="">0</label>

                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg"
                                                        for="Key_Skills">Key Skills </label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8">
                                                        <label class="text-form-color"
                                                            for="Key_Skills">{{obj.keySkills}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg"
                                                        for="Job_Description_">Job Description</label>

                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8">
                                                        <label class="text-form-color"
                                                            for="good_hands_on_developer">{{obj.jobDescription}} </label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg"
                                                        for="Designation">Designation</label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8">
                                                        <label class="text-form-color"
                                                            for="Software_Developer_Trainee_">{{obj.designation}}
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg"
                                                        for="Notice_Period_">Notice Period </label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8">
                                                        <label class="text-form-color" for="">{{noticeText}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg"
                                                        for="Job_Type_">Job Type </label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8">
                                                        <label class="text-form-color" for="Permanent">{{jobType}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg"
                                                        for="Qualification_">Qualification </label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8">
                                                        <label class="text-form-color"> {{qualification}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg" for="CTC_">CTC 
                                                    </label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8">
                                                        <label class="text-form-color" for="">{{obj.maxSal.salValue}}&nbsp;lpa </label>&nbsp;to&nbsp;
                                                        <label class="text-form-color" for="">{{obj.minSal.salValue}}&nbsp;lpa</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg"
                                                        for="Company_Name_">Company Name </label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8">
                                                        <label class="text-form-color"
                                                            for="Derivatives_Connect_Pvt_Ltd">{{obj.companyName}}</label>

                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg"
                                                        for="End_Client_">End Client </label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8">
                                                        <label class="text-form-color" for="Verizon_">{{obj.endClient}}</label>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2 label-txt-alg"
                                                        for="Company_Profile_">Company Profile </label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8">
                                                        <label class="text-form-color">{{obj.companyProfile}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg"
                                                        for="Location_">Location </label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8">
                                                        <label class="text-form-color" for="Hyderabad">{{location}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg"
                                                        for="Locality_">Locality </label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8">
                                                        <label class="text-form-color" for="Madhapur">{{locality}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg"
                                                        for="Contact_Person_">Contact Person </label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8">
                                                        <label class="text-form-color" for="Ayesha">{{obj.companyName}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg"
                                                        for="Email_">Email </label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8">
                                                        <label class="text-form-color">{{obj.contactEmail}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg"
                                                        for="Contact_No__Mobile__">Contact No (Mobile) </label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8">
                                                        <label class="text-form-color" for="">{{obj.contactNo}}</label>

                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg"
                                                        for="Landline_No_">Landline No </label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8">
                                                        <label class="text-form-color" for="">{{obj.contactNoLandline}}</label>

                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg"
                                                        for="Roles___Responsibilities_">Roles &amp; Responsibilities
                                                    </label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8">
                                                        <label class="text-form-color" for="NA">{{obj.rolesResposibilities}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg"
                                                        for="Company_Address_">Company Address </label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="col-md-8">
                                                        <label class="text-form-color" for="madhapur">{{obj.companyAddress}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:8px !important">
                                                    <label class="control-label col-md-2 label-txt-alg"
                                                        for="Company_Logo_">Company Logo </label>
                                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                                    <div class="CompanyLogo">

                                                        <img src="data:image/jpeg;base64,{{obj.companyLogo}}" alt="Logo Not Loaded">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
           
        </div>
    </div>


<app-footer></app-footer>