<!-- <app-navbar></app-navbar>
<div class="container col-lg-4 col-md-6 col-sm-8 col-xs animated fadeIn" style="float:none;">
        <div class="div-center text-center">
          <h1 style="padding-bottom:25px">Forgot Password</h1>
         
          <mat-card>
            <form class="form" (ngSubmit)="onSubmit(vm)">
              
              <mat-card-content>
                    <div style="padding:25px 0px 10px 0px">Please enter registered email id:</div>
                <p>
                  <mat-form-field appearance="outline">
                  
                    <input matInput placeholder="Email" ngModel name="email" id="email" #email="ngModel" type="email" pattern="[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,125}[a-zA-Z]{2,63}$" required>
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-hint *ngIf="email.touched && email.invalid">
                      <mat-error *ngIf="email.errors.required">Email is required</mat-error>
                      <mat-error *ngIf="email.errors && email.errors.pattern">Invalid email</mat-error>
                    </mat-hint>
                  </mat-form-field>
                </p>
                
               
                <div class="text-center" style="margin:10px;">
                 
                  <button id="button" type="submit">Forgot Password</button>
                </div>
             
              </mat-card-content>
            </form>
          </mat-card>
        </div>
      </div> -->
      <app-navbar></app-navbar>
<div class="wrapper">
  <div class="wrapper-container" style="background: #fff url(../assets/images/bg.jpg) repeat top left;">
    <div class="container">
      <h1 class="page-title" style="text-align: center;line-height: 84px;">Forgot password</h1>

      <section class="inner-page inner-page-login">
        <div id="login" class="animate form">
          <div id="wrapper1">
            <section id="loginForm">
              <form action="/Walker/ForgotPassword" method="post"><input name="__RequestVerificationToken" type="hidden"
                  value="atuGn3dN8MHXRdFLzAF8h9v3lB8w49Won2JkDqrQLFBrHuxS6Ka_uCWv1ISoCgtttTVQEATeDiYkX3Bo9eMJW8tZjXCLrKHb8duUJDYRSDM1">
                <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
                  <ul>
                    <li style="display:none"></li>
                  </ul>
                </div>
                <div class="form-group">
                  <label class="" for="Please_enter_Registered_Email_:">Please enter Registered Email :</label>
                  <div class="">
                    <input class="form-control" data-val="true" 
                      pattern="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*"
                     ngModel #email="ngModel" [(ngModel)]="vm.email" id="Email" name="Email" placeholder="mymail@mail.com"
                      type="text" value="" required>
                      <mat-hint *ngIf="email.touched && email.invalid">
                        <mat-error *ngIf="email.errors.required">Email is required</mat-error>
                        <mat-error *ngIf="email.errors.pattern">Please enter valid email id</mat-error>
                      </mat-hint>
                  </div>
                </div>
                <div class="form-group">
                  <div class="">
                    <span class="login button btn-forget-pass">
                      <input type="submit" (click)="forgotPassword(vm)" value="Forgot Password">
                    </span>
                  </div>
                </div>
              </form>
            </section>
          </div>

        </div>
      </section>
    </div>
  </div>
</div>
<app-footer></app-footer>