<app-navbar></app-navbar>
<div class="wrapper">
    <div class="container">
        <div class="wrapper-container" style="background: #fff url(../assets/images/bg.jpg) repeat top left;">
            <section id="count_parallax-x" class="parallax" style=" background: url('../assets/images/Contactus.png')  no-repeat #ccc;" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
                <div class="">
                    <h1 class="page-title page-title-text">Contact Us</h1>
                </div>
            </section>
            <div class="row" style="margin-top: 4px;">
                <div class="col-sm-6">
                    <section class="contact-us inner-page">

                        <p><b>INDIA</b></p>
                        <p>6B, 6th Floor, Melange Towers, SY. NO. 80-84,</p>
                        <p>Patrikanagar,</p>
                        <p>Madhapur, Hitech City,</p>
                        <p>Hyderabad-500081,Telangana, India.</p>
                        <span>
                            Land-line Number :
                            <span>040 4222 2141</span>
                            <p>
                                <span>Email:</span>
                                <span>contact@dailywalkins.com</span>
                            </p>
                        </span>
                    </section>
                </div>
                <div class="col-sm-6">
                    <iframe style="height:500px;border:1px solid #ccc" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.318621290577!2d78.34980421487788!3d17.492297288015816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb92685b220f85%3A0xe8cc80716e412721!2sVishist+Business+Solutions+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1519979716777" width="600" height="450" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>