<app-navbar></app-navbar>
<div class="wrapper">
    <div class="wrapper-container" style="background: #fff url(../assets/images/bg.jpg) repeat top left;">
        <div class="container">
            <section id="count_parallax-x" class="parallax" style=" background: url('../assets/images/aboutus.jpg')  no-repeat #ccc;" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
                <div class="">
                    <h1 class="page-title page-title-text">About Us</h1>
                </div>
            </section>
            <div class="col-md-12 about-us" style="background-color:#fff;margin-bottom: 10px;">
                <div class="form-group aboutus">
                    <p style="text-align: justify;" class="about-list">
                        <i class="fa fa-arrow-right fa-1 mrm" aria-hidden="true"></i> Daily Walkins – Job Centre is only for jobs published as walkin drives.
                    </p>
                    <p style="text-align: justify;" class="about-list">
                        <i class="fa fa-arrow-right fa-1 mrm" aria-hidden="true"></i> World market is moving towards drives as Employers are interested to get candidates selected on the same day
                        from 2 week window for &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; end to end interviews completion.
                    </p>
                    <p style="text-align: justify;" class="about-list">
                        <i class="fa fa-arrow-right fa-1 mrm" aria-hidden="true"></i>  Candidates are interested as they can check  their true worth in a day even if they have an offer on hand and joining in few days.
                        This is the &nbsp; &nbsp;&nbsp;&nbsp;only platform as there is no time left from the joining date,
                        to go thru 2weeks interview window, for regular job applications.
                    </p>
                    <p style="text-align: justify;" class="about-list">
                        <i class="fa fa-arrow-right fa-1 mrm" aria-hidden="true"></i> If Employer has a drive planned, post here first for best results.
                        If JobSeeker needs a quick job, check here first for any walkin drive.
                    </p>


                    <ul class="about-list">
                        <li><i class="fa fa-check-circle mrm"></i>  Drives are fully automated from candidate’s interview call letter to evaluation *thru selection.</li>
                        <li><i class="fa fa-check-circle mrm"></i>  Panels are provided</li>
                        <li><i class="fa fa-check-circle mrm"></i>  Resources are sourced, where there is a need</li>

                        <li><i class="fa fa-check-circle mrm"></i>  Co-ordinators are provided</li>
                        <li><i class="fa fa-check-circle mrm"></i>  Sending reminders to the candidates scheduled for the drive, for better candidate turn out on the drive day</li>
                        <li><i class="fa fa-check-circle mrm"></i>  Perform round1 on your behalf by using Avatars with machine learning algorithms for better hit ratio</li>
                        <li><i class="fa fa-check-circle mrm"></i>  Great communication channels – auto dialing, chat, sms and email</li>
                        <li><i class="fa fa-check-circle mrm"></i>  Social media sharing on the tip of the fingers – not text or image, video – great means to get candidates</li>
                    </ul>
                    <p style="text-align: justify;" class="about-list">
                        <i class="fa fa-arrow-right fa-1 mrm" aria-hidden="true"></i> Employers don’t need to use their facilities, they can find cheap, clean and high quality facilities here for their drives.
                        Same time, employers &nbsp; &nbsp;or consultancies can lend their facility for the drives of third parties to earn good money for the days when the facility is vacant like &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;weekends / holidays.
                    </p>
                    <p style="text-align: justify;" class="about-list">
                        <i class="fa fa-arrow-right fa-1 mrm" aria-hidden="true"></i>  Daily Walkins makes drives happening seamlessly for better employer and candidate experience, try us, you agree with us every single &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;time.
                    </p>
                </div>
            </div>

        </div>


    </div>
</div>
<app-footer></app-footer>