<app-navbar></app-navbar>
<div class="wrapper">
    <div class="wrapper-container" style="background: #fff url(../../assets/images/bg.jpg) repeat top left;">
        <div class="container">
            <div class="inner-page">
                <div class="portlet">
                    <div class="portlet-header">
                        <h3 style="margin-top:0px !important">
                            Personal Information
                            <span class="portlet-tools pull-right " id="btnUpdate"
                                style="margin-top:-2px !important;"><input type="submit" value="Update"
                                    class="btn btn-primary btn-sm" (click)="updateDetails(update);"></span>

                        </h3>


                    </div>
                    <div class="portlet-content">
                        <div class="form-horizontal ">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label class="col-sm-3" style="white-space:nowrap">First Name <span
                                                style="color:red;">*</span></label>

                                        <label class="col-sm-1"
                                            style="width:3% !important; padding-top:6px !important;">:</label>
                                        <div class="col-md-8">
                                            <input class="form-control" data-val="true" pattern="[a-zA-Z ]*$" ngModel
                                                #fname="ngModel" id="txtFirstName" name="FirstName" type="text" value=""
                                                [(ngModel)]="update.firstName" required>
                                            <mat-hint *ngIf="fname.touched && fname.invalid">
                                                <mat-error *ngIf="fname.errors.required">Please specify firstname
                                                </mat-error>
                                            </mat-hint>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3" style="white-space:nowrap">Last Name <span
                                                style="color:red;">*</span></label>

                                        <label class="col-sm-1"
                                            style="width:3% !important; padding-top:6px !important;">:</label>
                                        <div class="col-md-8">
                                            <input class="form-control" data-val="true" id="txtLastName" ngModel
                                                #lname="ngModel" name="LastName" type="text" value=""
                                                [(ngModel)]="update.lastName" required>
                                            <mat-hint *ngIf="lname.touched && lname.invalid">
                                                <mat-error *ngIf="lname.errors.required">Please specify lastname
                                                </mat-error>
                                            </mat-hint>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3" style="white-space:nowrap">Gender <span
                                                style="color:red;">*</span></label>

                                        <label class="col-sm-1" style="width:3% !important;">:</label>
                                        <div class="col-md-8 genderalng">
                                            <select class="form-control" data-val="true" id="txtGender" ngModel
                                                #gender="ngModel" [(ngModel)]="update.gender" name="Gender" required>
                                                <option value="">--Select type--</option>
                                                <option value="Male">Male</option>
                                                <option selected="selected" value="Female">Female</option>
                                            </select>
                                            <mat-hint *ngIf="gender.touched && gender.invalid">
                                                <mat-error *ngIf="gender.errors.required">Please select gender
                                                </mat-error>
                                            </mat-hint>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3" style="white-space:nowrap">Email <span
                                                style="color:red;">*</span></label>

                                        <label class="col-sm-1"
                                            style="width:3% !important; padding-top:6px !important;">:</label>
                                        <div class="col-md-8">
                                            <input class="form-control"
                                                pattern="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" id="txtEmail"
                                                ngModel #email="ngModel" name="Email" value="" type="text" value=""
                                                [(ngModel)]="update.email" required>
                                            <mat-hint *ngIf="email.touched && email.invalid">
                                                <mat-error *ngIf="email.errors.required">Email is required</mat-error>
                                                <mat-error *ngIf="email.errors && email.errors.pattern">Please enter
                                                    valid Email
                                                </mat-error>
                                            </mat-hint>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3" style="white-space:nowrap">Location <span
                                                style="color:red;">*</span></label>

                                        <label class="col-sm-1" style="width:3% !important;">:</label>
                                        <div class="col-md-8">

                                            <!-- <select class="form-control" ngModel #location="ngModel" id="txtLocation"
                                                (change)="onSelectLocation($event)" name="locId" required>

                                                <option *ngFor="let loc of locations" value="{{loc.cityId}}">
                                                    {{loc.cityName}}</option>
                                            </select> -->
                                            <ng-select [items]="locations" bindLabel="cityName"
                                                (change)="onSelectLocation($event)" placeholder="Select Location"
                                                ngModel #location="ngModel" appendTo="body"
                                                [(ngModel)]="update.location">
                                            </ng-select>
                                            <mat-hint *ngIf="location.touched && location.invalid">
                                                <mat-error *ngIf="location.errors.required">Location is Required
                                                </mat-error>

                                            </mat-hint>
                                        </div>
                                    </div>
                                    <div class="form-group contactNumber">
                                        <label class="col-sm-3" style="white-space:nowrap">Contact No <span
                                                style="color:red;">*</span></label>

                                        <label class="col-sm-1"
                                            style="width:3% !important; padding-top:6px !important;">:</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    +91
                                                </div>
                                                <input class="form-control" data-val="true" pattern="^[0-9 ]{10}$"
                                                    id="txtContactNo" ngModel #contactNo="ngModel" name="ContactNo"
                                                    type="text" value="" [(ngModel)]="update.contactNo" required>
                                                <mat-hint *ngIf="contactNo.touched && contactNo.invalid">
                                                    <mat-error *ngIf="contactNo.errors.required">Mobile Number is
                                                        Required</mat-error>
                                                    <mat-error *ngIf="contactNo.errors&&contactNo.errors.pattern">Please
                                                        enter valid mobile number</mat-error>
                                                </mat-hint>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3" style="white-space:nowrap">ContactNo_Landline <span
                                                style="color:red;"></span></label>

                                        <label class="col-sm-1"
                                            style="width:3% !important; padding-top:6px !important;">:</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    +91
                                                </div>
                                                <input class="form-control input-box-alg" id="txtContactNo_Landline"
                                                    name="ContactNo_Landline" type="text" ngModel
                                                    #contactNo_Landline="ngModel" [(ngModel)]="update.contactNoLandline"
                                                    value="">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 label-txt-alg">
                                            Date Of Birth <span style="color:red;"></span>
                                        </label><label class="col-sm-1"
                                            style="width:3% !important; padding-top:6px !important;">:</label>
                                        <div class="col-md-4">
                                            <input
                                                class="form-control form-control-width input-width   input-box-alg hasDatepicker"
                                                id="txtDateOfBirth" ngModel #dob="ngModel" name="DateOfBirth"
                                                type="date" value="" [(ngModel)]="update.dateOfBirth">

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3" style="white-space:nowrap">Languages Known <span
                                                style="color:red;"></span></label>

                                        <label class="col-sm-1"
                                            style="width:3% !important; padding-top:6px !important;">:</label>
                                        <div class="col-md-8">
                                            <input class="form-control input-box-alg ui-autocomplete-input"
                                                id="txtlanguagesKnown" ngModel #languagesKnown="ngModel"
                                                name="languagesKnown" type="text" value=""
                                                [(ngModel)]="update.languagesKnown" (ngModelChange)="selectLanguage()"
                                                [matAutocomplete]="langauto">
                                            <mat-autocomplete #langauto="matAutocomplete">
                                                <mat-option *ngFor="let lang of languages|async"
                                                    value="{{lang.language}}">
                                                    {{lang.language}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4">
                                    <div class="thumbnail">
                                        <img src="{{profilePhoto}}" id="imgProfile">

                                    </div>
                                    <div class="col-md-6">
                                        <input type="file" id="ImageFile" ngModel #image="ngModel" name="image"
                                            (change)="selectProfileImage($event)" accept="image/*">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="height:300px">
            <div class="inner-page">
                <div class="portlet">
                    <div class="portlet-header">
                        <h3 style="margin-top:0px !important">Educational Information</h3>
                    </div>
                    <div class="portlet-content">
                        <div class="form-horizontal custom-form">
                            <div class="form-group">
                                <label class="col-sm-3" style="white-space:nowrap">Education <span
                                        style="color:red;">*</span></label>

                                <label class="col-sm-1" style="width:3% !important;">:</label>
                                <div class="col-md-8">
                                    <!-- <select class="form-control form-control-width-1 input-width" data-val="true"
                                        ngModel #education="ngModel" id="ddlQualification" name="Education"
                                        placeholder="mca" (change)="onSelectEducation($event)" required>

                                        <option *ngFor="let education of qualifications"
                                            value="{{education.qualificationId}}">{{education.qualification}}</option>

                                    </select> -->
                                    <ng-select [items]="qualifications" bindLabel="qualification"
                                        (change)="onSelectEducation($event)" placeholder="Select Education" ngModel
                                        #education="ngModel" appendTo="body" [(ngModel)]="update.education">
                                    </ng-select>
                                    <mat-hint *ngIf="education.touched && education.invalid">
                                        <mat-error *ngIf="education.errors.required">Education is required</mat-error>
                                    </mat-hint>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3" style="white-space:nowrap">Institute <span
                                        style="color:red;">*</span></label>

                                <label class="col-sm-1" style="width:3% !important;">:</label>
                                <div class="col-md-8">
                                    <input class="form-control" data-val="true" id="txtInstitute" name="Institute"
                                        ngModel #institute="ngModel" [(ngModel)]="update.institute" type="text" value=""
                                        [matAutocomplete]="iauto" (ngModelChange)="selectInstitute()" required>
                                    <mat-autocomplete #iauto="matAutocomplete">
                                        <mat-option *ngFor="let inst of institutes|async"
                                            value="{{inst.instituteName}}">
                                            {{inst.instituteName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-hint *ngIf="institute.touched && institute.invalid">
                                        <mat-error *ngIf="institute.errors.required">Institute is required</mat-error>
                                    </mat-hint>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 label-txt-alg">
                                    Year of Pass <span style="color:red;">*</span>
                                </label><label class="col-sm-1" style="width:3% !important;">:</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="txtYearOfPass" ngModel #yop="ngModel"
                                        [(ngModel)]="update.yearOfPass" name="YearOfPass" type="text" value="" required>
                                    <mat-hint *ngIf="yop.touched && yop.invalid">
                                        <mat-error *ngIf="yop.errors.required">YearOfPass is required</mat-error>
                                    </mat-hint>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-page">
                <div class="portlet">
                    <div class="portlet-header">
                        <h3 style="margin-top:0px !important">Experience Information</h3>
                    </div>
                    <div class="portlet-content">
                        <div class="form-horizontal custom-form">
                            <div class="form-group">
                                <label class="col-sm-3" style="white-space:nowrap">Experience <span
                                        style="color:red;">*</span></label>

                                <label class="col-sm-1" style="width:3% !important;">:</label>
                                <div class="col-md-8">
                                    <div class="form-inline">

                                        <!-- <select class="form-control" data-val="true" pattern="[0-9 ]*$" id="Experience"
                                            ngModel #minExp="ngModel" id="minExp" (change)="onSelectedExpYears($event)"
                                            name="ExpYears" required>
                                            <option value="">--Select type--</option>
                                            <option *ngFor="let exp of experiences" value="{{exp.experienceId}}">
                                                {{exp.expValue}}</option>
                                        </select> -->
                                        <ng-select bindLabel="expValue" placeholder="Select Experience" appendTo="body"
                                        [searchable]="true" [clearable]="true" (change)="onSelectedExpYears($event)" [(ngModel)]="expYears"
                                        style="width:137px;display: inline-block;">
                                        <ng-option [value]="exp.experienceId" 
                                            *ngFor="let exp of experiences">
                                            {{exp.expValue}}
                                        </ng-option>
                                    </ng-select>
                                        Year(s)&nbsp;

                                        and
                                        <!-- <select class="form-control selct-maxexp" data-val="true" ngModel
                                            #maxExp="ngModel" id="maxExp" name="ExpMonths"
                                            (change)="onSelectedExpMonths($event)" required>
                                            <option value="">--Select type--</option>
                                            <option *ngFor="let exp of experiences" value="{{exp.experienceId}}">
                                                {{exp.expValue}}</option>
                                        </select> -->
                                        <ng-select bindLabel="expValue" placeholder="Select Experience" appendTo="body"
                                        [searchable]="true" [clearable]="true" (change)="onSelectedExpMonths($event)" [(ngModel)]="expMonths"
                                        style="width:137px;display: inline-block;">
                                        <ng-option [value]="exp.experienceId" 
                                            *ngFor="let exp of experiences">
                                            {{exp.expValue}}
                                        </ng-option>
                                    </ng-select>
                                        Month(s)

                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3" style="white-space:nowrap">Current CTC <span
                                        style="color:red;"></span></label>

                                <label class="col-sm-1" style="width:3% !important;">:</label>
                                <div class="col-sm-8">
                                    <div class="form-inline">

                                        <!-- <select class="form-control selct-maxexp" data-val="true" ngModel
                                            #CCTCFrom="ngModel" id="CCTCFrom" name="CTCLakhs"
                                            (change)="onSelectedCCTCFrom($event)" required>
                                            <option value="">--Select type--</option>
                                            <option *ngFor="let sal of salaries" value="{{sal.salaryId}}">
                                                {{sal.salValue}}</option>
                                        </select> -->
                                        <ng-select bindLabel="salValue" placeholder="Select CTC" appendTo="body"
                                            [searchable]="true" [clearable]="true" (change)="onSelectedCCTCFrom($event)" [(ngModel)]="CCTCFrom"
                                            style="width:137px;display: inline-block;">
                                            <ng-option [value]="sal.salaryId" 
                                                *ngFor="let sal of salaries">

                                                {{sal.salValue}}
                                            </ng-option>
                                        </ng-select>
                                        Lakh(s)&nbsp;

                                        and
                                        <!-- <select class="form-control selct-maxexp" data-val="true" ngModel
                                            #CCTCTo="ngModel" id="CCTCTo" name="CTCThs"
                                            (change)="onSelectedCCTCTo($event)">
                                            <option value="">--Select type--</option>
                                            <option *ngFor="let sal of salaries" value="{{sal.salaryId}}">
                                                {{sal.salValue}}</option>
                                        </select> -->
                        
                                        <ng-select bindLabel="salValue" placeholder="Select CTC" appendTo="body"
                                            [searchable]="true" [clearable]="true" (change)="onSelectedCCTCTo($event)" [(ngModel)]="CCTCTo"
                                            style="width:137px;display:inline-block">
                                            <ng-option [value]="sal.salaryId" 
                                                *ngFor="let sal of salaries">

                                                {{sal.salValue}}
                                            </ng-option>
                                        </ng-select>
                                        Thousand(s)

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3" style="white-space:nowrap">Industry <span
                                        style="color:red;">*</span></label>

                                <label class="col-sm-1" style="width:3% !important;">:</label>
                                <div class="col-md-8">

                                    <!-- <input data-val="true" data-val-required="Industry is Required" id="Industry"
                                        name="Industry" type="hidden" value="IT Software &amp; Hardware"> -->
                                    <!-- <select class="form-control" data-val="true" ngModel #industry="ngModel"
                                        id="IndustryName" (change)="onSelectIndustry($event)" name="InId" required>

                                        <option *ngFor="let ind of industries" value="{{ind.industryId}}">
                                            {{ind.industryType}}</option>
                                    </select> -->
                                    <ng-select [items]="industries" bindLabel="industryType"
                                        (change)="onSelectIndustry($event)" placeholder="Select Industry" ngModel
                                        #industry="ngModel" appendTo="body" [(ngModel)]="update.industryId">
                                    </ng-select>
                                    <mat-hint *ngIf="industry.touched && industry.invalid">
                                        <mat-error *ngIf="industry.errors.required">Industry is required</mat-error>
                                    </mat-hint>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3" style="white-space:nowrap">Role <span
                                        style="color:red;">*</span></label>

                                <label class="col-sm-1" style="width:3% !important;">:</label>
                                <div class="col-md-8">

                                    <!-- <input data-val="true" data-val-required="Role is Required" id="Role" name="Role"
                                        type="hidden" value="Developer"> -->
                                    <!-- <select class="form-control" data-val="true" ngModel #role="ngModel"
                                        [(ngModel)]="update.role" id="RoleName" name="RId"
                                        (change)="onSelectedRole($event)" required>

                                        <option *ngFor="let role of roles" value="{{role.roleId}}">{{role.roleName}}
                                        </option>

                                    </select> -->
                                    <ng-select [items]="roles" bindLabel="roleName" (change)="onSelectedRole($event)"
                                        placeholder="Select Role" ngModel #role="ngModel" appendTo="body"
                                        [(ngModel)]="update.roleId">
                                    </ng-select>
                                    <mat-hint *ngIf="role.touched && role.invalid">
                                        <mat-error *ngIf="role.errors.required">Role is required</mat-error>
                                    </mat-hint>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 label-txt-alg">
                                    Job Type <span style="color:red;">*</span>
                                </label><label class="col-sm-1" style="width:3% !important;">:</label>

                                <div class="col-sm-8">
                                    <!-- <input data-val="true" data-val-required="Job Type is Required" id="Jobtype"
                                        name="Jobtype" type="hidden" value="1"> -->
                                    <!-- <select class="form-control" (change)="onSelectJobType($event)"
                                        ngModel #jobType="ngModel" id="jobType" name="JTId" required>
                                        <option *ngFor="let jt of jobTypes" value="{{jt.jobTypeId}}" selected="jt.jobType == 'Permanent'">{{jt.jobType}}</option>
                                    </select> -->
                                    <ng-select [items]="jobTypes" bindLabel="jobType" (change)="onSelectJobType($event)"
                                        placeholder="Select JobType" ngModel #jobType="ngModel" appendTo="body"
                                        [(ngModel)]="update.jobTypeId">
                                    </ng-select>

                                    <mat-hint *ngIf="jobType.touched && jobType.invalid">
                                        <mat-error *ngIf="jobType.errors.required">JobType is required</mat-error>
                                    </mat-hint>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3" style="white-space:nowrap">Key Skills <span
                                        style="color:red;">*</span></label>

                                <label class="col-sm-1" style="width:3% !important;">:</label>

                                <div class="col-md-8">
                                    <input class="form-control" data-val="true" ngModel #keySkills="ngModel"
                                        [(ngModel)]="update.keySkills" id="txtKeySkills" name="KeySkills"
                                        onblur="fillHeadLine();" type="text" value=""
                                        (ngModelChange)="selectKeySkills()" [matAutocomplete]="kauto">

                                    <div class="example">
                                        KeySkill(s) examples : Java, ASP.Net,Oracle,PHP, CPP etc...
                                    </div>
                                    <mat-autocomplete #kauto="matAutocomplete">
                                        <mat-option *ngFor="let skill of skills|async"
                                            value="{{skill.requiredKeySkills}}">
                                            {{skill.requiredKeySkills}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-hint *ngIf="keySkills.touched && keySkills.invalid">
                                        <mat-error *ngIf="keySkills.errors.required">Key Skills is required</mat-error>
                                    </mat-hint>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label-icon-10 col-sm-3 label-txt-alg" style="white-space: nowrap;">
                                    Resume Headline <span style="color:red;">*</span>
                                </label><label class="col-sm-1" style="width:3% !important;">:</label>
                                <div class="col-md-8">
                                    <input class="form-control" data-val="true" ngModel #resumeHeadLine="ngModel"
                                        [(ngModel)]="update.resumeHeadLine" id="txtResumeHeadLine" name="ResumeHeadLine"
                                        type="text" value="" required>
                                    <mat-hint *ngIf="resumeHeadLine.touched && resumeHeadLine.invalid">
                                        <mat-error *ngIf="resumeHeadLine.errors.required">Resume HeadLine is required
                                        </mat-error>
                                    </mat-hint>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3" style="white-space:nowrap">Current Designation <span
                                        style="color:red;"></span></label>

                                <label class="col-sm-1" style="width:3% !important;">:</label>
                                <div class="col-md-8">
                                    <input class="form-control" ngModel #currentDesignation="ngModel"
                                        id="txtCurrentDesignation" [(ngModel)]="update.currentDesignation"
                                        name="CurrentDesignation" type="text" value=""
                                        (ngModelChange)="selectDesignation()" [matAutocomplete]="desgauto">
                                    <mat-autocomplete #desgauto="matAutocomplete">
                                        <mat-option *ngFor="let desg of designations|async"
                                            value="{{desg.designationName}}">
                                            {{desg.designationName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3" style="white-space:nowrap">Current Company <span
                                        style="color:red;"></span></label>

                                <label class="col-sm-1" style="width:3% !important;">:</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="txtCurrentCompany" ngModel #currentCompany="ngModel"
                                        [(ngModel)]="update.currentCompany" name="CurrentCompany" type="text" value=""
                                        [matAutocomplete]="cmpauto" (ngModelChange)="selectCompany()">
                                    <mat-autocomplete #cmpauto="matAutocomplete">
                                        <mat-option *ngFor="let cmp of companies|async"
                                            value="{{cmp.userCompanyNames}}">
                                            {{cmp.userCompanyNames}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3" style="white-space:nowrap">Preferred Location <span
                                        style="color:red;">*</span></label>

                                <label class="col-sm-1" style="width:3% !important;">:</label>
                                <div class="col-md-8">
                                    <input class="form-control" data-val="true" ngModel #preLocation="ngModel"
                                        [(ngModel)]="update.preferredLocation
                                       " id="txtPreferredLocation" (ngModelChange)="selectPreferredLocation()"
                                        name="PreferredLocation" type="text" value="" [matAutocomplete]="lauto"
                                        required>
                                    <mat-autocomplete #lauto="matAutocomplete">
                                        <mat-option *ngFor="let loc of cities|async" value="{{loc.cityName}}" multiple>
                                            {{loc.cityName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-hint *ngIf="preLocation.touched && preLocation.invalid">
                                        <mat-error *ngIf="preLocation.errors.required">Preferred Location is required
                                        </mat-error>
                                    </mat-hint>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3" style="white-space:nowrap">Notice Period <span
                                        style="color:red;"></span></label>

                                <label class="col-sm-1" style="width:3% !important;">:</label>

                                <div class="col-md-8">
                                    <!-- <select class="form-control" data-val="true" (change)="onSelectNoticePeriod($event)"
                                        ngModel #noticePeriod="ngModel" id="NoticePeriod" name="NoticePeriod" required
                                        [(ngModel)]="update.noticePeriod">

                                        <option *ngFor="let np of noticePeriods" value="{{np.noticePeriodId}}">
                                            {{np.noticeText}}</option>

                                    </select> -->
                                    <ng-select [items]="noticePeriods" bindLabel="noticeText"
                                        (change)="onSelectNoticePeriod($event)" placeholder="Select NoticePeriod"
                                        ngModel #noticePeriod="ngModel" appendTo="body"
                                        [(ngModel)]="update.noticePeriod">
                                    </ng-select>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-page">
                <div class="portlet">
                    <div class="portlet-header">
                        <h3 style="margin-top:0px !important"><i class="fa fa-file-word-o"
                                aria-hidden="true"></i>Uploaded Resume</h3>
                        <ul class="portlet-tools">
                            <li>
                                <div class="form-group">
                                    <label class="control-label col-md-3 label-txt-alg" for="Resume">Resume</label>
                                    <label class="col-sm-1" style="width:3% !important;">:</label>
                                    <div class="col-md-8">
                                        <input type="file" name="file" ngModel #resume="ngModel" id="resumeFile"
                                            (change)="onSelectResume($event)" accept="image/*,application/pdf,application/msword,
                                        application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="/Walker/DownloadResume">Download Resume</a>
                            </li>
                        </ul>
                    </div>
                    <div class="portlet-content">
                        <div class="clearboth">
                            <div class="iframe-demo">&nbsp;</div>
                            <label id="lblresume" style="color:red">No Resume Found..</label>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>