<app-navbar-w></app-navbar-w>
<div class="wrapper">
    <div class="wrapper-container" style="background: #fff url(../assets/images/bg.jpg) repeat top left;">
        
        <div class="container">
            <div class="col-md-12" style="padding-left:0px; padding-right:0px;">
  
                <div class="col-md-3">
                    
                        <div id="tab-container">
                            <ul class="admin-list-group" id="main-menu">
                                <li class="quick active bold"><a>Details</a></li>
                                <li class="liclass" style="color: White"><a routerLink="/recruitment/WalkinCentral/CreateDrive">Create Drive</a></li>
                                    <li class="liclass" style="color: White"><a routerLink="/recruitment/walkincentral">Drive details</a></li>
                                    <li class="liclass" style="color: White"><a routerLink="/recruitment/WalkinCentral/UploadProfiles">Upload Profile(s)</a></li>
                                    <li class="liclass " style="color: White"><a routerLink="/recruitment/WalkinCentral/CandidateDetails">Candidate Details</a></li>
                                    <li class="liclass" style="color: White"><a routerLink="/recruitment/WalkinCentral/CoOrdinatorsManagement">Co-Ordinators Management</a></li>
                                    <li class="liclass" style="color: White"><a routerLink="/recruitment/WalkinCentral/panel">Panel Management</a></li>
                                    <li class="liclass" style="color: White"><a routerLink="/recruitment/WalkinCentral/ShortlistedCandidates">Shortlisted Candidates</a></li>
                                    <li class="liclass" style="color: White"><a routerLink="/recruitment/WalkinCentral/EvaluationForms">Evaluation Forms</a></li>
                            </ul>
                        </div>
                   
                </div>
                <div class="col-md-9" style="padding-right:0px;">
                    
  
  <form #panelForm="ngForm"(ngSubmit)="processForm();panelForm.reset()">
     <div class="row">
        <div id="dvgetPanelDetails">
            <div class="portlet">
                <div class="portlet-header">
                    <h3>Create Panel</h3>
                    <a routerLink="/recruitment/WalkinCentral/panel" class="pull-right btn btn-primary btn-sm" style="margin-top:-33px !important">Back to List</a>
                    
                </div>
                <label style="color:green"></label>
                <div class="portlet-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label bold">
                                Name<span style="float: right">:</span><span style="color: Red;">*</span>
                            </label>
                            <div class="col-sm-7">
                                <input type="text" name="panelName" class="form-control" [(ngModel)]="obj.panelName"#name="ngModel"required>
                                <mat-hint *ngIf="name.touched && name.invalid">
                                    <mat-error *ngIf="name.errors.required">Please specify valid name</mat-error>
                    
                                  </mat-hint>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label bold">
                                Contact Number<span style="float: right">:</span><span style="color: Red;">*</span>
                            </label>
                            <div class="col-sm-7">
                                <input type="text" name="contactNo" class="form-control" [(ngModel)]="obj.contactNo"#contactNo="ngModel" required pattern="^[0-9 ]{10}$">
                                <mat-hint *ngIf="contactNo.touched && contactNo.invalid">
                                    <mat-error *ngIf="contactNo.errors.required">Contact Number is required</mat-error>
                                    <mat-error *ngIf="contactNo.errors.pattern">Enter valid Mobile Number</mat-error>
                                  </mat-hint>
                               
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label bold">
                                Email<span style="float: right">:</span><span style="color: Red;">*</span>
                            </label>
                            <div class="col-sm-7">
                                <input type="text" name="companyEmail" class="form-control" [(ngModel)]="obj.companyEmail"required email #emailId="ngModel">
                                <mat-hint *ngIf="emailId.touched && emailId.invalid">
                                    <mat-error *ngIf="emailId.errors.required">Email Address is required</mat-error>
                                    <mat-error *ngIf="emailId.errors.email">Enter valid Email Address</mat-error>
                                  </mat-hint>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label bold">
                                Skill<span style="float: right">:</span><span style="color: Red;">*</span>
                            </label>
                            <div class="col-sm-7">
                                <input type="text" name="keySkills" class="form-control" [(ngModel)]="obj.keySkills"#keySkills="ngModel"required>
                                <mat-hint *ngIf="keySkills.touched && keySkills.invalid">
                                    <mat-error *ngIf="keySkills.errors.required">Please specify keySkills</mat-error>
                    
                                  </mat-hint>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-success" style="float:right;margin-right: 10px;color: #fff; background-color: #337ab7; border-color: #2e6da4;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </form> 
  
  
  
                </div>
            </div>
        </div>
  
    </div>
    </div>
    <app-footer></app-footer>