<app-navbar></app-navbar>
<div class="wrapper">
    <div class="wrapper-container" style="background: #fff url(../../assets/images/bg.jpg) repeat top left;">
        <div class="container">
            <h1 class="content-header-title page-title" style="font-size:27px;">Walkin Details</h1>
            <div>
                <div class="alert alert-success" style="height: 46px; display: none;" id="divsucc">
                    <label></label>
                </div>
            </div>
            <div class="row box-shadow-cell">
                <div class="addBoxShadow" style="background-color:white;">
                    <div class="content">
                        <div class="col-sm-9" style="background-color:#fff;min-height: 595px; height: auto;">
                            <div class="row job-description-top">
                                <div class="col-sm-2">
                                    <div class="pull-left company-icon img-thumbnail">

                                        <img class="" src="data:image/jpeg;base64,{{jobDetails.companyLogo}}"
                                            alt="Employer">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="pull-left job-meta-top ">
                                        <div class="company-info">
                                            <h3 class="h3-align-portlet ">
                                                {{jobDetails.jobTitle}}
                                            </h3>
                                            <div class="form-group" style="margin-bottom:3px !important">
                                                <div class="">
                                                    <label class="text-form-color txt-job"
                                                        for="Vishist_Business_Solutions_Pvt_Ltd">{{jobDetails.endClient}}</label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="pull-right jobsButtonsContainer">
                                        <ul class="portlet-tools pull-right"
                                            style="display:inline-flex;position:relative;top: 10px;">

                                            <li style="position:relative;left:10px;top:-3px;">
                                                <a class="online-status red-tooltip chat-icon" data-toggle="tooltip"
                                                    data-placement="bottom" href="#" target="_blank" style="">



                                                    <img id="chatImg" src="/assets/images/online.png" alt="online"
                                                        onclick="return openChat(this);">
                                                </a>
                                                <a class="online-status red-tooltip chat-icon" data-toggle="tooltip"
                                                    data-placement="bottom" href="#">
                                                    <img id="dialUp" style="" src="/assets/images/dial-up.png"
                                                        alt="online" onclick="return dialUp();" stye="width:28px">
                                                </a>

                                                <a data-toggle="tooltip" class="online-status red-tooltip chat-icon"
                                                    data-placement="bottom" title="Email" id="A1"
                                                   routerLink="/walker/SendJobEmail">
                                                    <img id="imgMail" src="/assets/images/mail.png" alt="mail"
                                                        stye="width:28px">
                                                </a>

                                                <a data-toggle="tooltip" class="online-status red-tooltip chat-icon"
                                                    data-placement="bottom" title="SMS" id="A3"
                                                   routerLink="/walker/SendJobSMS">
                                                    <img id="imgSMS" src="/assets/images/sms.png" alt="sms"
                                                        stye="width:28px">
                                                </a>

                                                <a class="online-status red-tooltip chat-icon" data-toggle="tooltip"
                                                    data-placement="bottom" title="Share with facebook">
                                                    <!-- <fb:share-button id="fb-root" href="&quot;https://www.dailywalkins.com/Walker/SelectedJob/&quot;+4281">
                                                    </fb:share-button> -->
                                                    <img id="imgFB" src="/assets/images/fbi.gif" alt="fbi"
                                                        stye="width:28px">

                                                </a>

                                                <a class="online-status red-tooltip chat-icon" data-toggle="tooltip"
                                                    data-placement="bottom" title="Share with Linked-In">

                                                    <img id="linkedinImg" src="/assets/images/linkedin_circle.png"
                                                        alt="linkedin" stye="width:28px">
                                                </a>

                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="jd-strip top-strip job-header-strip" style="">
                                    <div class="trio-bucket pull-left">
                                        <span class="experience">
                                            <img src="../../assets/images/Experience.png" alt=""
                                                style="margin-top:-5px">
                                            <span class="jobText">{{jobDetails.experience}} years</span>

                                            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                                        </span>
                                        <span class="salary">
                                            <img src="../../assets/images/Salary.png" alt="">
                                            <span class="jobText">
                                                <label for="">{{jobDetails.minSal}} lpa to </label>
                                                <label for="">{{jobDetails.maxSal}} lpa</label>
                                            </span>
                                            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                                        </span>
                                        <span class="salary">
                                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                            <span class="jobText">
                                                <label for="">{{jobDetails.noticePeriod}}</label>
                                            </span>
                                            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                                        </span>
                                        <span class="location" id="jobLocation" itemprop="jobLocation" itemscope=""
                                            itemtype="http://schema.org/Place">
                                            <img src="../../assets/images/Location.png" alt="">

                                            <span class="jobText">{{jobDetails.location}}</span>
                                        </span>
                                    </div>
                                    <ul>
                                        <li>
                                            <a class="btn btn-primary btn-sm apply-btn-align"
                                                style="position:relative; left:80px;" id="apply"
                                                imagealign="AbsMiddle" (click)="loadApplyDetails()">Apply Job</a>


                                        </li>
                                        <!-- <li>
                                            <a class="btn btn-primary btn-sm apply-btn-align"
                                               
                                                style="position: relative; left: 80px;display:none" id="disabled"
                                                imagealign="AbsMiddle">Already Applied</a>
                                        </li> -->

                                    </ul>
                                </div>
                            </div>

                            <div class="form-horizontal wrapper-1 txt-wrapper">
                                <div class="row ">
                                    <div class="col-sm-6 border-panel-job job-shadow">

                                        <div class="form-group" style="">
                                            <label class="control-label col-md-4 label-txt-alg" for="End_Client_">End
                                                Client </label>
                                            <label class="col-sm-1" style="width:3% !important;">:</label>
                                            <div class="col-md-7">
                                                <label class="text-form-color txt-job"
                                                    for="Vishist_Business_Solutions_Pvt_Ltd_">{{jobDetails.endClient}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-md-4 label-txt-alg" for="Role_">Role
                                            </label>
                                            <label class="col-sm-1" style="width:3% !important;">:</label>
                                            <div class="col-md-7">
                                                <label class="text-form-color txt-job"
                                                    for="Developer">{{jobDetails.role}}</label>
                                            </div>
                                        </div>

                                        <div class="form-group" style="">
                                            <label class="control-label col-md-4 label-txt-alg"
                                                for="Walkin_date_">Walkin date </label>
                                            <label class="col-sm-1" style="width:3% !important;">:</label>
                                            <div class="col-md-7">
                                                <label
                                                    class="text-form-color txt-job">{{jobDetails.walkinDate|date:'dd-MM-yyyy'}}</label>

                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-md-4 label-txt-alg"
                                                for="Walkin_slots">Walkin slots</label>
                                            <label class="col-sm-1" style="width:3% !important;">:</label>
                                            <div class="col-md-7">
                                                <label
                                                    class="text-form-color txt-job">{{jobDetails.walkinTimeSlots}}</label>

                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-md-4 label-txt-alg"
                                                for="Walkin_location">Walkin location</label>
                                            <label class="col-sm-1" style="width:3% !important;">:</label>
                                            <div class="col-md-7">
                                                <label
                                                    class="text-form-color txt-job">{{jobDetails.walkinLocation}}</label>

                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-md-4 label-txt-alg"
                                                for="Walkin_locality">Walkin locality</label>
                                            <label class="col-sm-1" style="width:3% !important;">:</label>
                                            <div class="col-md-7">
                                                <label
                                                    class="text-form-color txt-job">{{jobDetails.walkinLocality}}</label>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 border-panel-job job-shadow-2">
                                        <div class="form-group" style="">
                                            <label class="control-label col-md-4 label-txt-alg"
                                                for="Company_Name_">Company Name </label>
                                            <label class="col-sm-1" style="width:3% !important;">:</label>
                                            <div class="col-md-7">
                                                <label
                                                    class="text-form-color txt-job">{{jobDetails.companyName}}</label>

                                            </div>
                                        </div>

                                        <div class="form-group" style="">
                                            <label class="control-label col-md-4 label-txt-alg"
                                                for="Contact_Person_">Contact Person </label>
                                            <label class="col-sm-1" style="width:3% !important;">:</label>
                                            <div class="col-md-7">
                                                <label class="text-form-color txt-job"
                                                    for="xyz">{{jobDetails.contactPerson}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-md-4 label-txt-alg"
                                                for="Contact_Number_">Contact Number </label>
                                            <label class="col-sm-1" style="width:3% !important;">:</label>
                                            <div class="col-md-7">
                                                <label class="text-form-color txt-job">{{jobDetails.phone}}</label>

                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-md-4 label-txt-alg" for="Email_">Email
                                            </label>
                                            <label class="col-sm-1" style="width:3% !important;">:</label>
                                            <div class="col-md-7">
                                                <label class="text-form-color txt-job">{{jobDetails.email}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-md-4 label-txt-alg"
                                                for="Company_Address">Company Address</label>
                                            <label class="col-sm-1" style="width:3% !important;">:</label>
                                            <div class="col-md-7">
                                                <label class="text-form-color txt-job">{{jobDetails.companyAddress}}
                                                </label>

                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="row" style="border-bottom:1px solid #ccc;">

                                    <div class="col-sm-6 border-panel-job job-shadow-3">
                                        <div class="form-group" style="">
                                            <label class="control-label col-md-4 label-txt-alg" for="Key_Skills_">Key
                                                Skills </label>
                                            <label class="col-sm-1" style="width:3% !important;">:</label>
                                            <div class="col-md-7">
                                                <label class="text-form-color txt-job"
                                                    for="Angular7">{{jobDetails.keySkills}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-md-4 label-txt-alg"
                                                for="Job_Description_">Job Description </label>
                                            <label class="col-sm-1" style="width:3% !important;">:</label>
                                            <div class="col-md-7">
                                                <label class="text-form-color txt-job"
                                                    for="Delivering_a_complete_front_end_code">{{jobDetails.jobDescription}}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-md-4 label-txt-alg"
                                                for="Qualification_">Qualification </label>
                                            <label class="col-sm-1" style="width:3% !important;">:</label>
                                            <div class="col-md-7">
                                                <label
                                                    class="text-form-color txt-job">{{jobDetails.qualification}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-md-4 label-txt-alg"
                                                for="No_of_Positions_">No of Positions </label>
                                            <label class="col-sm-1" style="width:3% !important;">:</label>
                                            <div class="col-md-7">
                                                <label class="text-form-color txt-job"
                                                    for="">{{jobDetails.jobPositions}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-md-4 label-txt-alg" for="Job_Type_">Job Type
                                            </label>
                                            <label class="col-sm-1" style="width:3% !important;">:</label>
                                            <div class="col-md-7">
                                                <label class="text-form-color txt-job"
                                                    for="Permanent">{{jobDetails.jobType}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 border-panel-job job-shadow-4">
                                        <div class="form-group" style="">
                                            <label class="control-label col-md-4 label-txt-alg"
                                                for="Client_Location_">Client Location </label>
                                            <label class="col-sm-1" style="width:3% !important;">:</label>
                                            <div class="col-md-7">
                                                <label
                                                    class="text-form-color txt-job">{{jobDetails.clientLocation}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-md-4 label-txt-alg"
                                                for="Client_Locality_">Client Locality </label>
                                            <label class="col-sm-1" style="width:3% !important;">:</label>
                                            <div class="col-md-7">
                                                <label
                                                    class="text-form-color txt-job">{{jobDetails.clientLocality}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-md-4 label-txt-alg"
                                                for="Venue_details_">Venue details </label>
                                            <label class="col-sm-1" style="width:3% !important;">:</label>
                                            <div class="col-md-7">
                                                <label class="text-form-color txt-job"
                                                    for="hyderabad">{{jobDetails.venueDetails}}</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-3 BoxShadow-scroll" style="">

                            <div class="featured-job addBoxShadow">
                                <div class="featured-job-header">
                                    <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                                    <span>Hot Walkins</span>
                                </div>

                                <div class="featured-job-body">
                                    <div id="featuredJobCarousel" class="carousel slide" data-ride="carousel">
                                        <!--    Indicators-->
                                        <ol class="carousel-indicators">
                                            <li data-target="#featuredJobCarousel" data-slide-to="0" class=""></li>
                                            <li data-target="#featuredJobCarousel" data-slide-to="1" class=""></li>
                                            <li data-target="#featuredJobCarousel" data-slide-to="2" class=""></li>
                                            <li data-target="#featuredJobCarousel" data-slide-to="3" class=""></li>
                                            <li data-target="#featuredJobCarousel" data-slide-to="4" class=""></li>
                                            <li data-target="#featuredJobCarousel" data-slide-to="5" class="active">
                                            </li>
                                        </ol>
                                        <!--    wrapper for slides-->
                                        <div class="carousel-inner">
                                            <div class="item"
                                                data-link="https://www.myamcat.com/jobs/description/featured-jobs/36506">
                                                <div class="company_logo"
                                                    style="background:url('https://workforce.myamcat.com/uploads/company_logo/1061.jpg') no-repeat;background-size:contain;background-position: center;">
                                                </div>
                                                <div class="job-profile">
                                                    <p>Software Engineering Associate</p>
                                                </div>
                                                <div class="company-name">
                                                    <p>Amdocs</p>
                                                </div>
                                                <div class="company-interview-details">
                                                    <p></p>
                                                </div>
                                                <div class="job-location">
                                                    <p>Pune</p>
                                                </div>
                                            </div>
                                            <div class="item"
                                                data-link="https://www.myamcat.com/jobs/description/featured-jobs/43895">
                                                <div class="company_logo"
                                                    style="background:url('https://workforce.myamcat.com/uploads/company_logo/9145.png') no-repeat;background-size:contain;background-position: center;">
                                                </div>
                                                <div class="job-profile">
                                                    <p>Trainee Associate</p>
                                                </div>
                                                <div class="company-name">
                                                    <p>British Telecom</p>
                                                </div>
                                                <div class="company-interview-details">
                                                    <p></p>
                                                </div>
                                                <div class="job-location">
                                                    <p>Gurgaon</p>
                                                </div>
                                            </div>
                                            <div class="item"
                                                data-link="https://www.myamcat.com/jobs/description/featured-jobs/45574">
                                                <div class="company_logo"
                                                    style="background:url('https://workforce.myamcat.com/uploads/company_logo/5899.png') no-repeat;background-size:contain;background-position: center;">
                                                </div>
                                                <div class="job-profile">
                                                    <p>Associate Analyst</p>
                                                </div>
                                                <div class="company-name">
                                                    <p>Mahindra and Mahindra</p>
                                                </div>
                                                <div class="company-interview-details">
                                                    <p></p>
                                                </div>
                                                <div class="job-location">
                                                    <p>Bangalore, Mumbai</p>
                                                </div>
                                            </div>
                                            <div class="item"
                                                data-link="https://www.myamcat.com/jobs/description/featured-jobs/45899">
                                                <div class="company_logo"
                                                    style="background:url('https://workforce.myamcat.com/uploads/company_logo/1244.png') no-repeat;background-size:contain;background-position: center;">
                                                </div>
                                                <div class="job-profile">
                                                    <p>Programmer Analyst Trainee.</p>
                                                </div>
                                                <div class="company-name">
                                                    <p>Cognizant</p>
                                                </div>
                                                <div class="company-interview-details">
                                                    <p></p>
                                                </div>
                                                <div class="job-location">
                                                    <p>Bangalore, Chennai, Coimbatore, Hyderabad, Kolkata, New Delhi,
                                                        Pune</p>
                                                </div>
                                            </div>
                                            <div class="item"
                                                data-link="https://www.myamcat.com/jobs/description/featured-jobs/46063">
                                                <div class="company_logo"
                                                    style="background:url('https://workforce.myamcat.com/uploads/company_logo/2087.png') no-repeat;background-size:contain;background-position: center;">
                                                </div>
                                                <div class="job-profile">
                                                    <p>Software Engineer</p>
                                                </div>
                                                <div class="company-name">
                                                    <p>MAQ Software</p>
                                                </div>
                                                <div class="company-interview-details">
                                                    <p></p>
                                                </div>
                                                <div class="job-location">
                                                    <p>Mumbai</p>
                                                </div>
                                            </div>
                                            <div class="item active"
                                                data-link="https://www.myamcat.com/jobs/description/featured-jobs/46066">
                                                <div class="company_logo"
                                                    style="background:url('https://workforce.myamcat.com/uploads/company_logo/3151.png') no-repeat;background-size:contain;background-position: center;">
                                                </div>
                                                <div class="job-profile">
                                                    <p>Graduate Engineering Trainee</p>
                                                </div>
                                                <div class="company-name">
                                                    <p>Nokia India</p>
                                                </div>
                                                <div class="company-interview-details">
                                                    <p></p>
                                                </div>
                                                <div class="job-location">
                                                    <p>Chennai</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-job addBoxShadow">
                                <div class="featured-job-header">
                                    <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                                    <span>Hot Walkins</span>
                                </div>

                                <div class="featured-job-body">
                                    <div id="featuredJobCarousel" class="carousel slide" data-ride="carousel">
                                        <!--    Indicators-->
                                        <ol class="carousel-indicators">
                                            <li data-target="#featuredJobCarousel" data-slide-to="0" class="active">
                                            </li>
                                            <li data-target="#featuredJobCarousel" data-slide-to="1" class=""></li>
                                            <li data-target="#featuredJobCarousel" data-slide-to="2" class=""></li>
                                            <li data-target="#featuredJobCarousel" data-slide-to="3" class=""></li>
                                            <li data-target="#featuredJobCarousel" data-slide-to="4" class=""></li>
                                            <li data-target="#featuredJobCarousel" data-slide-to="5" class=""></li>
                                        </ol>
                                        <!--    wrapper for slides-->
                                        <div class="carousel-inner">
                                            <div class="item active"
                                                data-link="https://www.myamcat.com/jobs/description/featured-jobs/36506">
                                                <div class="company_logo"
                                                    style="background:url('https://workforce.myamcat.com/uploads/company_logo/1061.jpg') no-repeat;background-size:contain;background-position: center;">
                                                </div>
                                                <div class="job-profile">
                                                    <p>Software Engineering Associate</p>
                                                </div>
                                                <div class="company-name">
                                                    <p>Amdocs</p>
                                                </div>
                                                <div class="company-interview-details">
                                                    <p></p>
                                                </div>
                                                <div class="job-location">
                                                    <p>Pune</p>
                                                </div>
                                            </div>
                                            <div class="item"
                                                data-link="https://www.myamcat.com/jobs/description/featured-jobs/43895">
                                                <div class="company_logo"
                                                    style="background:url('https://workforce.myamcat.com/uploads/company_logo/9145.png') no-repeat;background-size:contain;background-position: center;">
                                                </div>
                                                <div class="job-profile">
                                                    <p>Trainee Associate</p>
                                                </div>
                                                <div class="company-name">
                                                    <p>British Telecom</p>
                                                </div>
                                                <div class="company-interview-details">
                                                    <p></p>
                                                </div>
                                                <div class="job-location">
                                                    <p>Gurgaon</p>
                                                </div>
                                            </div>
                                            <div class="item"
                                                data-link="https://www.myamcat.com/jobs/description/featured-jobs/45574">
                                                <div class="company_logo"
                                                    style="background:url('https://workforce.myamcat.com/uploads/company_logo/5899.png') no-repeat;background-size:contain;background-position: center;">
                                                </div>
                                                <div class="job-profile">
                                                    <p>Associate Analyst</p>
                                                </div>
                                                <div class="company-name">
                                                    <p>Mahindra and Mahindra</p>
                                                </div>
                                                <div class="company-interview-details">
                                                    <p></p>
                                                </div>
                                                <div class="job-location">
                                                    <p>Bangalore, Mumbai</p>
                                                </div>
                                            </div>
                                            <div class="item"
                                                data-link="https://www.myamcat.com/jobs/description/featured-jobs/45899">
                                                <div class="company_logo"
                                                    style="background:url('https://workforce.myamcat.com/uploads/company_logo/1244.png') no-repeat;background-size:contain;background-position: center;">
                                                </div>
                                                <div class="job-profile">
                                                    <p>Programmer Analyst Trainee.</p>
                                                </div>
                                                <div class="company-name">
                                                    <p>Cognizant</p>
                                                </div>
                                                <div class="company-interview-details">
                                                    <p></p>
                                                </div>
                                                <div class="job-location">
                                                    <p>Bangalore, Chennai, Coimbatore, Hyderabad, Kolkata, New Delhi,
                                                        Pune</p>
                                                </div>
                                            </div>
                                            <div class="item"
                                                data-link="https://www.myamcat.com/jobs/description/featured-jobs/46063">
                                                <div class="company_logo"
                                                    style="background:url('https://workforce.myamcat.com/uploads/company_logo/2087.png') no-repeat;background-size:contain;background-position: center;">
                                                </div>
                                                <div class="job-profile">
                                                    <p>Software Engineer</p>
                                                </div>
                                                <div class="company-name">
                                                    <p>MAQ Software</p>
                                                </div>
                                                <div class="company-interview-details">
                                                    <p></p>
                                                </div>
                                                <div class="job-location">
                                                    <p>Mumbai</p>
                                                </div>
                                            </div>
                                            <div class="item"
                                                data-link="https://www.myamcat.com/jobs/description/featured-jobs/46066">
                                                <div class="company_logo"
                                                    style="background:url('https://workforce.myamcat.com/uploads/company_logo/3151.png') no-repeat;background-size:contain;background-position: center;">
                                                </div>
                                                <div class="job-profile">
                                                    <p>Graduate Engineering Trainee</p>
                                                </div>
                                                <div class="company-name">
                                                    <p>Nokia India</p>
                                                </div>
                                                <div class="company-interview-details">
                                                    <p></p>
                                                </div>
                                                <div class="job-location">
                                                    <p>Chennai</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
            <br>
        </div>
    </div>
</div>
<!-- apply job -->
<div id="myModal" class="modal in" style="margin-top: 7px; display: none; padding-right: 15px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent" class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group from-model">
                        <label class="col-sm-5" style="white-space:nowrap">Recruiter Recommended Time slots <span
                                style="color:red;">*</span></label>
                        <label class="col-sm-1">:</label>
                        <div class="col-sm-6">
                            <span class="multiselect-native-select"><select
                                    class="listbox form-control form-control-width-1 input-width" disabled=""
                                    id="WalkinTimeSlots" multiple="True" name="WalkinTimeSlots">
                                    <option value="">{{jobDetails.walkinTimeSlots}}</option>

                                </select>

                            </span>
                        </div>
                    </div>
                    <div class="form-group from-model">
                        <label class="col-sm-5" style="white-space:nowrap">My available Time Slots <span
                                style="color:red;">*</span></label>
                        <label class="col-sm-1">:</label>
                        <div class="col-sm-8">
                            <ejs-multiselect id='timeslots' name="name" #timeslots="ngModel"
                                [(ngModel)]="selectedTimings.hoursText" [dataSource]='timeSlots'
                                placeholder='--select timings--'>
                            </ejs-multiselect>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" style="white-space:nowrap"> </label>
                        <label class="col-sm-1"></label>
                        <div class="col-sm-8">
                            <button class="btn btn-primary btn-sm" name="Submit" value="Submit" imagealign="AbsMiddle"
                                (click)="applyJob(selectedTimings)">Submit</button>
                            <button class="btn btn-primary btn-sm" name="Submit" value="cancel" (click)="closeDialog()"
                                imagealign="AbsMiddle">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>