<app-navbar></app-navbar>
<div class="wrapper">
    <div class="wrapper-container" style="background: #fff url(../assets/images/bg.jpg) repeat top left;">
        <div class="container">
            <h2 class="page-title">My Profile - Walker</h2>
        </div>

        <div class="container">
            <div class="inner-page">
                <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
                    <ul>
                        <li style="display:none"></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h2>
                            <label id="lblFName">{{fName}}</label>
                            <label id="lblLName">{{lName}}</label>
                        </h2>
                        <p>
                            <span class="bold">Resume Headline : </span>
                            <label id="lblresumeHeadline" style="color:#0080FF" class="resumeHeadline-disc">{{resumeHeadLine}}</label>
                        </p>
                        <p>
                            <span class="bold">Key Skills :</span>
                            <label id="lblkeySkills" style="color:#0080FF"
                                class="homeKeyskills-disc">{{keySkills}}</label>
                        </p>
                        <p>
                            <span class="bold">Experience :</span>
                            <label id="lblExperience" style="font:bold; color:#0080FF">{{experience}}</label>
                            <span>Year(s)</span>
                        </p>
                        <hr>

                        <ul class="icons-list">
                            <li>
                                <i class="icon-li fa fa-envelope"></i>
                                <label id="lbluser" style="text-align: left; color:darkturquoise">{{email}}</label>
                            </li>
                            <li>
                                <i class="icon-li fa fa-phone"></i>+91
                                <label id="lblcontactno" forecolor="green">{{contactNo}}</label>
                            </li>
                            <li>
                                <i class="icon-li fa fa-map-marker"></i>
                                <label id="lblLocation">{{location}}</label>
                            </li>
                            <li>
                                <i class="icon-li fa fa-calendar"></i>Last Updated :
                                <label id="lblUpdatedDate" forecolor="#0080FF" text="">{{updatedOn|date:'dd-MM-yyyy'}}</label>
                            </li>
                        </ul>

                        <hr>
                        <div class="col-md-6 pan" id="wrapper1">
                            <div class="feature-box btn-add-delect">
                                <span class="login button">
                                    <input type="submit" (click)="View()" value="View and Edit" class="btn-edit-walk">
                                </span>

                            </div>
                        </div>
                        <hr>
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="data:image/jpeg;base64,{{photo}}" alt="Logo Not Loaded" id="imgProfile">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="wrapper-container" style="background: #fff url(../assets/images/bg.jpg) repeat top left;">
                <div class="container">
                    <h2 class="page-title">Recommended Jobs </h2>
                </div>
                <div class="container inner-page">
                    <div class="alert alert-info">
                        <label style="font:bold;color:green"> {{totalRecommendedJobs}} Recommended job(s) found.. Please update your skills
                            set to get more updated recommended jobs. </label></div>
                    <div class="table-responsive">
                        <div class="jobs-list jobs-list-width">
                            <section *ngFor="let rJob of recommendedJob" class="main-sections listing__featured">

                                <div class="listing-item__list ">
                                    <article class="media well listing-item listing-item__jobs listing-item__featured ">
                                        <div class="media-left listing-item__logo mdeia-logo-border">

                                            <img class="media-object profile__img-company" src="data:image/jpeg;base64,{{rJob['companyLogo']}}" alt="Sample Employer">
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading listing-item__title">
                                                <a routerLink="/walker/selected-job/{{rJob.jobNo}}">{{rJob.jobTitle}}</a>
                                            </div>
                                            <div class="listing-item__info clearfix">
                                                <span
                                                    class="listing-item__info--item listing-item__info--item-location">
                                                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                                                    {{rJob.companyName}}
                                                </span>
                                                <span
                                                    class="listing-item__info--item listing-item__info--item-location">
                                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    {{rJob.location}}
                                                </span>
                                            </div>
                                            <div class="listing-item__desc hidden-sm hidden-xs">
                                                <label>Client:</label>
                                                {{rJob.endClient}}

                                            </div>
                                            <div class="listing-item__desc hidden-sm hidden-xs">
                                                <label>Key Skills :</label>
                                               {{rJob.keySkills}}
                                            </div>
                                        </div>
                                        <div class="media-right text-right">
                                            <div class="listing-item__date">
                                                <span class="listing-item__employment-type">Walkin Date :
                                                   {{rJob.walkinDate|date:'dd-MM-yyyy'}}</span>
                                            </div>

                                        </div>
                                    </article>
                                </div>
                            </section>




                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>