<app-navbar></app-navbar>
<div class="wrapper">
    <div class="wrapper-container" style="background: #fff url(../assets/images/bg.jpg) repeat top left;">
        <div class="container">
            <section id="count_parallax-x" class="parallax" style="background: url('../assets/images/PrivacyPolicy.png') top  no-repeat #ccc;" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
                <div class="">
                    <h1 class="page-title page-title-text">Privacy Policy</h1>
                </div>
            </section>
            <div class="col-md-12 about-us" style="background-color:#fff;margin-bottom: 10px;">
                <div class="form-group aboutus">
                    <div class="row">
                        <div class="col-md-12 min-layout" style="text-align: justify; padding: 20px;">
                            <p style="text-indent: 50px;">
                                We, at "Talentzing.com" are committed to respecting your online
                                privacy and recognize your need for appropriate protection and management of any personally
                                identifiable information ("Personal Information") you share with us. The Privacy Policy applies
                                to our Services available under the domain www.talentzing.com (herein after referred to as the "Website").
                                By visiting the Website you agree to be bound by the terms and conditions of this Privacy Policy.
                            </p>
                            <p style="">
                                The words "you" or "your" or "User" as used herein, refer to all individuals and/or entities
                                accessing or using the Website for any reason. The words "we" or "us" or "our" or
                                the "Company" as used herein, refer to the company talentzing.com and/or or any permitted assignees.
                            </p>
                            <h4><b>1. Your Privacy - Our Commitment</b></h4>
                            <p style="text-indent: 50px;">
                                The term "Personal Information" shall mean any information that may be used to identify you including, but not
                                limited to, (i) first and last name, a email address, home or other physical address and or other contact
                                information, whether at work or at home, (ii) sensitive information such as your experience and income level
                                (iii) should you post a resume or apply/send enquiry for an education program/ Training Institute,
                                the information contained therein (the amount of information you choose to keep confidential is entirely
                                up to your discretion; you may enter
                                as much or as little information as you choose, except for the information which is mandatorily required).
                            </p>
                            <h4><b>2. Information we collect</b></h4>
                            <p style="text-indent: 50px;">
                                When you use our Website, we collect and store your Personal Information.
                                Our primary goal in doing so is to provide a safe, efficient and customized experience to our Users.
                                This allows us to provide services and features that most likely meet your needs, and to customize our
                                Website to make your experience safer and easier. Importantly,
                                we only collect Personal Information about you that we consider necessary for achieving this purpose.
                            </p>
                            <p style="">
                                In general, you can browse the Website without telling us who you are or revealing any personal
                                information about yourself. To fully use our Website, you will need to register using our online
                                registration form, where you may be required to provide us with your contact and identity information and other
                                Personal Information as indicated on the forms throughout the Website and complete the Registration Process.
                                Once you give us your Personal Information, and initiate Registration Process, you are not anonymous to us.
                                Where possible, we indicate which fields are mandatorily required and which fields are optional.
                                You always have the option to not provide information
                                by choosing not to use a particular service or feature on the Website, unless we require it so.
                            </p>

                            <p style="">
                                We may automatically track certain information about you based upon your behaviour on our Website. You
                                agree that we may use such information to do internal research on our Users' demographics, interests,
                                and behaviour to better understand, protect and serve our Users. This information is compiled and analyzed
                                on an aggregated basis. This information may include, but not limited to, the URL that you just came from
                                (whether this URL is on our site or not), which URL you next go to (whether this URL
                                is on our Website or not), your computer browser information, and your Internet Protocol ("IP") address.
                            </p>
                            <p style="">
                                We use data collection devices such as "cookies" on certain pages of the Website to help analyze our web page
                                flow, measure promotional effectiveness, and promote trust and safety. "Cookies" are small files placed on your
                                hard drive that assist us in providing our services. We offer certain features that are only available
                                through the use of a "cookie". We also use cookies to allow you to enter your password less frequently
                                during a session. Cookies can also help us provide information that is targeted to your interests. Most
                                cookies are "session cookies," meaning that they are automatically deleted from your hard drive at the
                                end of a session. You are always free to decline our cookies if your browser permits, although in that
                                case you may not be able to use certain
                                features on the Website and you may be required to reenter your password more frequently during a session.
                            </p>
                            <p style="">
                                You agree, if you send us personal correspondence, such as emails or letters, or if other users or third parties send
                                us correspondence about your activities or postings on the Website, we may collect and/or store such information.
                            </p>
                            <p style="">
                                You agree that we may collect IP address from all visitors to the Website, like most websites.
                                An IP address is a number that is automatically assigned to your computer when you use the Internet.
                                We use IP addresses to help diagnose problems with our server, administer our Website, analyze trends,
                                track users' movement, gather broad demographic information for aggregate use in order for us to improve
                                the Website, and deliver customized, personalized content.
                            </p>
                            <p style="">
                                You agree to share your personal information to the registered institutes offering learning programs for
                                the ones you have showed interest in by clicking on the show interest, apply links
                            </p>

                            <h4><b>3. Disclosure of your Personal Information</b></h4>
                            <p style="text-indent: 50px;">
                                You agree and confirm that we do not rent, sell, or share Personal Information
                                about you with other people (save with your consent) or non-affiliated companies except to provide
                                products or Services under Terms of Use or this Privacy Policy, or under the following circumstances:
                            </p>
                            <p style="margin-left: 50px">
                                <strong style="font-weight: bold; margin-left: -13px">i.</strong>  To provide the Personal Information to trusted partners who work on behalf of or with us under
                                confidentiality agreements. These entities
                                may use your Personal Information to help us communicate with you about offers from us and our marketing partners.
                            </p>
                            <p style="margin-left: 50px;">
                                <strong style="font-weight: bold; margin-left: -15px">ii.</strong> To respond to summons, court orders, or legal process,
                                or to establish or exercise our legal rights or defend against legal claims;
                            </p>
                            <p style="margin-left: 50px;">
                                <strong style="font-weight: bold; margin-left: -16px">iii.</strong> To share Personal Information in order to investigate, prevent, or take action regarding illegal activities,
                                suspected fraud, situations involving potential
                                threats to the physical safety of any person, violations of Terms of Use, or as otherwise required by law.
                            </p>

                            <p style="margin-left: 50px;">
                                <strong style="font-weight: bold; margin-left: -16px">iv.</strong>	To transfer Personal Information about you if we are acquired by or merged with another company. In this event,
                                we will notify you before information about you is transferred and becomes subject to a different privacy policy.
                            </p>
                            <p style="margin-left: 50px;">
                                <strong style="font-weight: bold; margin-left: -16px">V.</strong> From time to time, to reveal general statistical information
                                about our Website and visitors, such as number of visitors, number and type of services purchased, etc.
                            </p>

                            <p style="margin-left: 50px;">
                                <strong style="font-weight: bold; margin-left: -16px">Vi.</strong> To transfer Personal Information about you to trusted partners, may or may not
                                for gain, to promote certain products/services for commercial purposes, without any prior notice to you.
                            </p>
                            <p>
                                Further, you agree that we may share your Personal
                                Information with the following categories of activities with from time-to-time.
                            </p>
                            <p style="font-weight: bold; margin-left: 39px">1.&nbsp; Advertisements</p>
                            <p style="margin-left: 75px;">
                                a.	When you enter Personal Information on any form of an advertiser, such information is simultaneously collected
                                by Website and the advertiser. The Personal Information is used by Website in accordance with the terms of
                                this Privacy Policy and is used by the advertiser as per the advertiser’s prevalent privacy policies.
                                Because we do not control the privacy practices of these advertisers,
                                you should evaluate their practices before deciding to provide the said information.
                            </p>
                            <p style="margin-left: 75px;">
                                b.	Website may also aggregate (gather up data across all Accounts) Personal Information and disclose such
                                information in a non-personally
                                identifiable manner to advertisers and other third parties for other marketing and promotional purposes.
                            </p>
                            <p style="font-weight: bold; margin-left: 39px">2. &nbsp; Classifieds Listings</p>
                            <p style="margin-left: 75px;">
                                a.	When you list classified advertisements, and the advertisement receives an expression of interest by the interested user,
                                the interested user will be provided your contact information as provided in your registration form.
                            </p>
                            <p style="margin-left: 75px;">
                                b.	When you express an interest in a classified advertisement, the user who
                                has listed the advertisement will be provided your contact information as provided in your user's registration form.
                            </p>
                            <p style="font-weight: bold; margin-left: 39px">3. &nbsp; Third Party Services</p>
                            <p style="margin-left: 75px;">
                                There are certain services for which third parties request for information before the service is listed on the Website.
                                The information provided by you for such purposes is simultaneously collected by the Website and the respective third
                                party. This information is utilised by the third party in accordance with its privacy policy and the terms of the offer. Because we do not control the
                                privacy practices of these third parties, you should evaluate their practices before deciding to use their services.
                            </p>
                            <p style="font-weight: bold; margin-left: 39px">4. &nbsp; Other Corporate Entities </p>
                            <div class="col-sm-12">

                                <p style="margin-left: 60px; text-indent: 50px;">
                                    The Company shares much of the data, including Personal Information about you, with its parent, affiliates,
                                    subsidiaries, and joint ventures that are committed to serving your online trading needs and related services,
                                    throughout the world. To the extent that these entities have access to your Personal Information,
                                    they will treat it at least as protectively as they treat information they obtain from their other users.
                                    The Company's parent, affiliates, subsidiaries, and joint ventures follow privacy practices no less protective
                                    of all users than our practices described in this document, to the extent allowed by applicable law.
                                    The Company, its parent, affiliates, subsidiaries, its joint ventures, or any combination of such, will share some or all of your Personal
                                    Information with another business entity should we plan to, merge with, or be acquired by that business entity.
                                </p>
                                <p style="margin-left: 60px;">Posting to public areas of the website</p>
                                <p style="margin-left: 60px;">
                                    Please remember that if you post any of your Personal Information in public areas of the
                                    Website such as in online forums or chat rooms, or in the Website's searchable resume database,
                                    such information may be collected and used by others over whom we have no control. We are not responsible for
                                    the use made by third parties of information you post or otherwise make available in public areas of Website.
                                </p>

                            </div>
                            <h4><b>4. Access or change your Personal Information</b></h4>
                            <p>You may review, correct, update or change your account information at any time.</p>
                            <p>
                                To protect your privacy and security, we will verify your identity before granting access or making changes to your Personal Information. If
                                you have registered your profile on the Website, your ID and Password are required in order to access your Account.
                            </p>
                            <h4><b>5. Other websites</b></h4>
                            <p style="text-indent: 50px;">
                                Our Website may contain links to other websites. Please note that when you click on one of these links,
                                you are entering another website over which the Website has no control and will bear no responsibility.
                                Often these websites require you to enter your Personal Information. We encourage you to read the
                                privacy statements on all such websites as their policies may differ from ours. You agree that we shall not be
                                liable for any breach of your privacy of Personal Information or loss incurred by your use of these websites.
                            </p>
                            <h4><b>6. Changes to this Privacy Policy</b></h4>
                            <p style="">
                                We reserve the right to update, change or modify this Privacy Policy at any time. The amendment to this
                                Privacy Policy shall come to effect from the time of such update, change or modification.
                            </p>
                            <h4><b>7. Disclaimer</b></h4>
                            <p style="text-indent: 50px;">
                                The Company does not access, store or keep credit card data. All credit card transactions happen
                                through third party gateways and the Company plays no role in the transaction, except for directing the customers to gateways or relevant webpage. Accordingly, the Company
                                shall not be responsible or liable for any loss or damage due to any disclosure whatsoever of Personal Information.
                            </p>
                            <p>
                                The Company shall not be liable for any loss or damage sustained by reason of any disclosure (inadvertent or otherwise) of
                                any Personal Information concerning the User's account and / or information relating to or regarding online transactions using credit cards / debit cards and / or their verification process
                                and particulars nor for any error, omission or inaccuracy with respect to any information so disclosed and used.
                            </p>
                            <h4><b>8. Assignability</b></h4>
                            <p style="">
                                The Company may assign any of its responsibilities/obligations to any other person without notice to the
                                User, at its sole discretion. However, you shall not assign, sub-licence or otherwise transfer any of
                                your rights under this Privacy Policy to any other party, unless a written consent is taken from
                                the Company.
                            </p>
                            <h4><b>9. Contacting the Website</b></h4>
                            <p style="">
                                If you have any questions about this Privacy Policy, the privacy practices of this Website, or if you want to exercise any of the rights
                                that you are given under this Privacy Policy, you can contact us at 
                            </p>



                        </div>
                    </div>
                    </div>
                </div>
</div>
</div>
</div>
<app-footer></app-footer>