.dropdown-menu > .active > a {
    background-color: none !important;
    color: #fff !important;
}

.multiselect-container > li > a > label {
    height: 1% !important;
}

.dropdown-menu {
    position: relative;
    top: 0px !important;
    left: 0px !important;
}

label.checkbox {
    position: relative;
    top: 0px !important;
}

.open > .dropdown-menu {
    display: block;
    width: 230px;
    text-align: center;
}

button.multiselect.dropdown-toggle.btn.btn-default {
    width: 230px !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a > label:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: #017163 !important;
}